{#{% extends "TwigBundle::layout.html.twig" %}#}
<html>
<head>
    {% block head %}
    {% block javascripts %}
    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}?1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        <script src="{{ asset('bundles/app/dw_tooltips/js/dw_tooltip_c.js') }}" type="text/javascript"></script>

        <script src="{{ asset('bundles/app/javascripts/jquery-1.11.1.js') }}"></script>

        <script src="{{ asset('bundles/app/fancyBox/source/jquery.fancybox.js') }}"></script>
        <script src="{{ asset('bundles/app/fancyBox/lib/jquery.mousewheel-3.0.6.pack.js') }}"></script>

        <script src="{{ asset('bundles/app/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/app/javascripts/notify.min.js') }}"></script>
        <script src="{{ asset('bundles/app/javascripts/mask.min.js') }}"></script>
        <script src="{{ asset('bundles/app/kladrapi/jquery.kladr.min.js') }}" type="text/javascript"></script>
        <script src="//api-maps.yandex.ru/2.1/?load=package.full&lang=ru-RU&ns=ym" type="text/javascript"></script>

        <script type="text/javascript" src="{{ asset('bundles/app/jqueryui/jquery-ui.min.js') }}"></script>


        {#<script type="text/javascript" src="{{ asset('bundles/app/javascripts/script.js') }}"></script>#}

        {#<link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/jqueryui/jquery-ui.theme.css') }}" media="screen" />#}
        <script>
            $(document).ready(function(){
                $('.phone').mask("+7 (999) 999-9999");
                $('.fancybox').fancybox(
                        {
                            openEffect  : 'none',
                            closeEffect	: 'none',

                            helpers : {
                                title : {
                                    type : 'over'
                                }
                            }
                        }
                );
//                $('.fancybox').click(function(){return false});
                /* кастомный checkbox */
                $('.check-group').click(function(){
                    if ($(this).children('input[type=hidden]').val() == 0){
                        $(this).children('.check').addClass('active');
                        $(this).children('input[type=hidden]').val(1);
                    }else{
                        $(this).children('.check').removeClass('active');
                        $(this).children('input[type=hidden]').val(0);
                    }
                });
                $('.check-btn').click(function(){
                    if ($(this).children('input[type=hidden]').val() == 0){
                        $(this).addClass('active');
                        $(this).children('input[type=hidden]').val(1);
                    }else{
                        $(this).removeClass('active');
                        $(this).children('input[type=hidden]').val(0);
                    }
                });

                function orderRefresh(){
                    $.ajax({
                        url: Routing.generate('order_price'),
                        method: 'GET',
                        success: function(msg){
                            if (msg != 0 && msg != '0'){
                                $('#order-btn').html('Выбрано на сумму '+msg+'р.');
                                $('#order-btn').css('display','block');
                            }
                        }
                    });
                }
                orderRefresh();
                $(document).scroll(function(){
                    if ($(document).scrollTop() > 180 ){
                        $('#order-btn').css('position','fixed');
                        $('#order-btn').css('z-index','10000');
                        $('#order-btn').css('bottom',10);
                        $('#order-btn').css('right',10);
//                        $('#order-btn').animate({bottom : 10, right: 10},1000);
                    }else{
//                        $('#order-btn').animate({bottom : 0, right: 0},0);
                        $('#order-btn').css('position','relative');
                        $('#order-btn').css('bottom',0);
                        $('#order-btn').css('right',0);
                    }
                })
            });
        </script>
    {% endblock %}
    {% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/normalize.css') }}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/bootstrap.min.css') }}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/jqueryui/jquery-ui.css') }}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/fancyBox/source/jquery.fancybox.css') }}" media="screen" />
    <link href="{{ asset('bundles/app/kladrapi/jquery.kladr.css') }}" rel="stylesheet" media="all">
        {% stylesheets filter='less'  '@AppBundle/Resources/public/less/*.less' %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="all" />
        {% endstylesheets %}
    {% endblock %}

    {% block title %}
        <title>Карта ООН</title>
    {% endblock %}
    {% endblock %}
</head>
<body>
{% block body %}
    <div class="body" id="body">
        <header>
            <div class="row">
                <div class="col-sm-4">
                    <a href="{{ path('homepage') }}"><img src="{{ asset('bundles/app/images/logo.png') }}" id="logo"></a>
                </div>
                <div class="col-sm-5">
                    <img src="{{ asset('bundles/app/images/top-img.png') }}" id="top-img">
                </div>
                <div class="col-sm-3" style="text-align: right">
                    <span id="s-phone">8 495 987 35 95</span>
                    <br />
                    <span class="btn" data-toggle="modal" data-target=".set-contacts">
                        СВЯЗАТЬСЯ С НАМИ
                    </span>
                </div>
            </div>
        </header>
        {% if app.request.attributes.get('_route_params').url is defined  %}
            {% set url = app.request.attributes.get('_route_params').url %}
        {% else %}
            {% if app.request.attributes.get('_route') == 'map' %}
                {% set url = 'map' %}
            {% elseif app.request.attributes.get('_route') == 'search' %}
                {% set url = 'search' %}
            {% elseif app.request.attributes.get('_route') == 'hot' %}
                {% set url = 'hot' %}
            {% else %}
                {% set url = null %}
            {% endif %}
        {% endif %}
        <div class="container">
            <div class="top-menu">
                <a href="{{ path('page',{'url' : 'about'}) }}"><span class="btn-top-menu {{ url == 'about' ? 'act' : '' }}">О нас</span></a>
                {#<a href="#"><span class="btn-top-menu">Клиенты</span></a>#}
                <a href="{{ path('page',{'url' : 'contacts'}) }}"><span class="btn-top-menu {{ url == 'contacts' ? 'act' : '' }}">Контакты</span></a>
                &nbsp;&nbsp;&nbsp;
                <span class="btn-top-menu-search {{ url == 'search' or url == 'map' or url == 'hot' ? 'act' : '' }}">
                    Поиск щитов
                    <div class="dropdown">
                        <a href="{{ path('search') }}"><span>Поиск по параметрам</span></a> <br />
                        <a href="{{ path('map') }}"><span>Поиск по карте</span></a> <br />
                        <a href="{{ path('hot') }}"><span>Горящие предложения</span></a>
                    </div>
                </span>

                <a href="{{ path('map') }}?my=1#basket">
                    <div class="btn-pink" id="order-btn" style="float: right; margin-top: -10px; display: none;"></div>
                </a>
            </div>
            {% block content %}{% endblock %}
        </div>
    </div>
    <footer>
        <div  class="row">
            <div class="col-lg-3">
                <div class="title">
                    Заказчикам
                </div>
                Техтребования<br />
                Поиск щитов<br />
                Отзывы<br />
                Производство
            </div>
            <div class="col-lg-3">
                <div class="title">
                    Владельцам
                </div>
                Сотрудничество
            </div>
            <div class="col-lg-3">
                <div class="title">
                    Контакты
                </div>
                РОССИЯ		105120,
                Москва,<br />
                4-й Сыромятнический
                переулок, дом 1/8,<br />
                строение 6
            </div>
            <div class="col-lg-3" style="text-align: center">
                <div class="title"></div>
                <br />
                8 495 987 35 95<br />
                info@mediafirst.ru
            </div>
        </div>
    </footer>

{% endblock %}

{% if not is_granted('ROLE_USER') %}
    {#{% include 'AppBundle:Auth:login.html.twig' %}#}
{% endif %}
{% include 'AppBundle::popup.html.twig' %}
</body>
</html>