<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    {% block head %}
    {% block javascripts %}
    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}?1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        <script src="{{ asset('bundles/app/dw_tooltips/js/dw_tooltip_c.js') }}" type="text/javascript"></script>

        <script src="{{ asset('bundles/app/javascripts/jquery-1.11.1.js') }}"></script>

        <script src="{{ asset('bundles/app/fancyBox/source/jquery.fancybox.js') }}"></script>
        <script src="{{ asset('bundles/app/fancyBox/lib/jquery.mousewheel-3.0.6.pack.js') }}"></script>

        <script src="{{ asset('bundles/app/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/app/javascripts/notify.min.js') }}"></script>
        <script src="{{ asset('bundles/app/javascripts/mask.min.js') }}"></script>
        <script src="{{ asset('bundles/app/kladrapi/jquery.kladr.min.js') }}" type="text/javascript"></script>
        <script src="http://api-maps.yandex.ru/2.1.26/?lang=ru_RU" type="text/javascript"></script>

        <script type="text/javascript" src="{{ asset('bundles/app/jqueryui/jquery-ui.min.js') }}"></script>


        {#<script type="text/javascript" src="{{ asset('bundles/app/javascripts/script.js') }}"></script>#}

        {#<link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/jqueryui/jquery-ui.theme.css') }}" media="screen" />#}
        <script>
            $(document).ready(function(){
                $('.phone').mask("+7 (999) 999-9999");
                $('.fancybox').fancybox(
                        {
                            openEffect  : 'none',
                            closeEffect	: 'none',

                            helpers : {
                                title : {
                                    type : 'over'
                                }
                            }
                        }
                );
//                $('.fancybox').click(function(){return false});
                /* кастомный checkbox */
                $('.check-group').click(function(){
                    if ($(this).children('input[type=hidden]').val() == 0){
                        $(this).children('.check').addClass('active');
                        $(this).children('input[type=hidden]').val(1);
                    }else{
                        $(this).children('.check').removeClass('active');
                        $(this).children('input[type=hidden]').val(0);
                    }
                });
                $('.check-btn').click(function(){
                    if ($(this).children('input[type=hidden]').val() == 0){
                        $(this).addClass('active');
                        $(this).children('input[type=hidden]').val(1);
                    }else{
                        $(this).removeClass('active');
                        $(this).children('input[type=hidden]').val(0);
                    }
                });

                function orderRefresh(){
                    $.ajax({
                        url: Routing.generate('order_price'),
                        method: 'GET',
                        success: function(msg){
                            if (msg != 0 && msg != '0'){
                                $('#order-btn').html('Выбрано на сумму '+msg+'р.');
                                $('#order-btn').css('display','block');
                            }
                        }
                    });
                }
                orderRefresh();
                $(document).scroll(function(){
                    if ($(document).scrollTop() > 180 ){
                        $('#order-btn').css('position','fixed');
                        $('#order-btn').css('z-index','10000');
                        $('#order-btn').css('bottom',10);
                        $('#order-btn').css('right',10);
//                        $('#order-btn').animate({bottom : 10, right: 10},1000);
                    }else{
//                        $('#order-btn').animate({bottom : 0, right: 0},0);
                        $('#order-btn').css('position','relative');
                        $('#order-btn').css('bottom',0);
                        $('#order-btn').css('right',0);
                    }
                });

                $(".contentEditable").click(function(e){
                    var val1 = $(this).parent().children('input').eq(0).val();
                    var val2 = $(this).parent().children('input').eq(1).val();
                    var id = $(this).attr('id');
                    var html = '<div id="paramsBox" data-id="'+id+'">' +
                            'От&nbsp;<input type="text" id="param1" style="float: none; width: 70px" value="'+val1+'"/>&nbsp;&nbsp;' +
                            'До&nbsp;<input type="text" id="param2" style="float: none; width: 70px" value="'+val2+'"/>&nbsp;&nbsp; ' +
                            '<div style="text-align: right;  margin-right: 14px;"><span class="btn" id="params-save"> Изменить </span></div>' +
                            '</div>';
                    $('body').append(html);
                    var relativeX = (e.pageX);
                    var relativeY = (e.pageY);
                    $('#paramsBox').css('left', relativeX);
                    $('#paramsBox').css('top', relativeY);
                });

                $('body').on('click','#params-save', function(){
                    var min = $('#param1').val();
                    var max = $('#param2').val();
                    min = parseFloat(min);
                    max = parseFloat(max);
                    $('#'+$('#paramsBox').attr('data-id')).html(min+' - '+max);
                    var slider = $('#'+$('#paramsBox').attr('data-id')).parent().children('.slider');
                    //Теперь меняем input hidden
                    if (slider.attr('id') == 'grp'){
                        $('#'+$('#paramsBox').attr('data-id')).parent().children('#grp-min').val(min);
                        $('#'+$('#paramsBox').attr('data-id')).parent().children('#grp-max').val(max);
                    }
                    if (slider.attr('id') == 'ots'){
                        $('#'+$('#paramsBox').attr('data-id')).parent().children('#ots-min').val(min);
                        $('#'+$('#paramsBox').attr('data-id')).parent().children('#ots-max').val(max);
                    }
                    if (slider.attr('id') == 'price'){
                        $('#'+$('#paramsBox').attr('data-id')).parent().children('#price-min').val(min);
                        $('#'+$('#paramsBox').attr('data-id')).parent().children('#price-max').val(max);
                    }

                    if (slider.attr('id') == 'grp'){
                        min = min*100;
                        max = max*100;
                    }
                    slider.slider( "values", [min, max] );
                    $('#paramsBox').remove();
                });

                $(".contentEditable").keypress(function(event){
                    if ( event.which == 13 ) {
                        event.preventDefault();
                        var myArray = $(this).text().split('-');
                        var min = myArray[0];
                        var max = myArray[1];
                        min = parseFloat(min);
                        max = parseFloat(max);
                        var slider = $(this).parent().children('.slider');
                        //Теперь меняем input hidden
                        if (slider.attr('id') == 'grp'){
                            $(this).parent().children('#grp-min').val(min);
                            $(this).parent().children('#grp-max').val(max);
                        }
                        if (slider.attr('id') == 'ots'){
                            $(this).parent().children('#ots-min').val(min);
                            $(this).parent().children('#ots-max').val(max);
                        }
                        if (slider.attr('id') == 'price'){
                            $(this).parent().children('#price-min').val(min);
                            $(this).parent().children('#price-max').val(max);
                        }

                        if (slider.attr('id') == 'grp'){
                            min = min*100;
                            max = max*100;
                        }
                        slider.slider( "values", [min, max] );
                    }else{
                        if ( (event.which < 48 || event.which > 57) && event.which != 46 ) {
//                            alert(event.which);
                            event.preventDefault();
                        }
                    }
                });
            });
        </script>
    {% endblock %}
    {% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/normalize.css') }}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/bootstrap.min.css') }}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/jqueryui/jquery-ui.css') }}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/fancyBox/source/jquery.fancybox.css') }}" media="screen" />
    <link href="{{ asset('bundles/app/kladrapi/jquery.kladr.css') }}" rel="stylesheet" media="all">
        {% stylesheets filter='less'  '@AppBundle/Resources/public/less/*.less' %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="all" />
        {% endstylesheets %}
    {% endblock %}

    {% block title %}
        <title>Карта ООН</title>
    {% endblock %}
    {% endblock %}
</head>
<body>
{% block body %}
    <div class="body" id="body">
        <header>
            <div class="row" style="  max-width: 1200px;margin: 0 auto;">
                <div class="col-sm-4">
                    <a href="{{ path('homepage') }}"><img src="{{ asset('bundles/app/images/logo.png') }}" id="logo" style="  z-index: 999; position: absolute;"></a>
                </div>
                <div class="col-sm-4">
                    <div id="s-phone" style="position: absolute; left: 55px">8 (495) 508-26-21</div>
                    <img src="{{ asset('bundles/app/images/top-img.png') }}" id="top-img">
                </div>
                <div class="col-sm-4" style="text-align: right">
                    <br />
                    {#<span class="btn">#}
                    {#{{ dump(app.user) }}#}
                    {% if app.user %}
                    <table style="float: right; margin-bottom: 15px">
                        <tr>
                            <td><a href="{{ path('my_profile') }}" style=" font-size: 20px; color: #333;">{{ app.user }}</a></td>
                            <td style="padding-left: 20px"><a href="{{ path('_security_logout') }}" style=" font-size: 20px; color: #333;">Выйти</a></td>
                        </tr>
                    </table>
                    {% else %}
                        <table style="float: right">
                            <tr>
                                <td><a href="{{ path('register') }}"><span class="btn3 ">Регистрация</span></a></td>
                                <td><span class="btn3 " data-toggle="modal" data-target=".bs-auth">Вход на сайт</span></td>
                            </tr>
                        </table>
                    {% endif %}
                    <span class="btn" data-toggle="modal" data-target=".set-contacts">
                        СВЯЗАТЬСЯ С НАМИ
                    </span>
                </div>
            </div>
        </header>
        {% if app.request.attributes.get('_route_params').url is defined  %}
            {% set url = app.request.attributes.get('_route_params').url %}
        {% else %}
            {% if app.request.attributes.get('_route') == 'map' %}
                {% set url = 'map' %}
            {% elseif app.request.attributes.get('_route') == 'search' %}
                {% set url = 'search' %}
            {% elseif app.request.attributes.get('_route') == 'hot' %}
                {% set url = 'hot' %}
            {% else %}
                {% set url = null %}
            {% endif %}
        {% endif %}
        <div class="container">
            <div class="top-menu">
                <a href="{{ path('page',{'url' : 'about'}) }}"><span class="btn-top-menu {{ url == 'about' ? 'act' : '' }}">О нас</span></a>
                {#<a href="#"><span class="btn-top-menu">Клиенты</span></a>#}
                <a href="{{ path('page',{'url' : 'contacts'}) }}"><span class="btn-top-menu {{ url == 'contacts' ? 'act' : '' }}">Контакты</span></a>
                &nbsp;&nbsp;&nbsp;
                <span class="btn-top-menu-search {{ url == 'search' or url == 'map' or url == 'hot' ? 'act' : '' }}">
                    Поиск щитов
                    <div class="dropdown">
                        <a {% if app.user == null %} href=""  data-toggle="modal" data-target=".bs-auth" onclick="return false;"{% else %}href="{{ path('search') }}" {% endif %}>
                            <span>Поиск по параметрам</span></a> <br />
                        <a {% if app.user == null %} href=""  data-toggle="modal" data-target=".bs-auth" onclick="return false;"{% else %}href="{{ path('map') }}" {% endif %}>
                            <span>Поиск по карте</span></a> <br />
                        <a {% if app.user == null %} href=""  data-toggle="modal" data-target=".bs-auth" onclick="return false;"{% else %}href="{{ path('hot') }}" {% endif %}>
                            <span>Горящие предложения</span></a>
                    </div>
                </span>

                <a href="{{ path('map') }}?my=1#basket">
                    <div class="btn-pink" id="order-btn" style="float: right; margin-top: -10px; display: none;"></div>
                </a>
            </div>
            {% block content %}{% endblock %}
        </div>
    </div>
    <footer>
        <div  class="row">
            <div class="col-xs-3">
                <div class="title">
                    Заказчикам
                </div>
                <a href="{{ path('page',{'url' : 'requirements'}) }}" style="color: #FFF">Техтребования</a><br />
                <a href="{{ path('page',{'url' : 'instruction'}) }}" style="color: #FFF">Help</a><br />
                Отзывы<br />
                Производство
            </div>
            <div class="col-xs-3">
                <div class="title">
                    Владельцам
                </div>
                Сотрудничество
            </div>
            <div class="col-xs-3">
                <div class="title">
                    Контакты
                </div>
                РОССИЯ		105120,
                Москва,<br />
                4-й Сыромятнический
                переулок, дом 1/8,<br />
                строение 6
            </div>
            <div class="col-xs-3" style="text-align: center">
                <div class="title"></div>
                <br />
                8 495 987 35 95<br />
                info@mediafirst.ru
            </div>
        </div>
    </footer>

{% endblock %}

{#{% if not is_granted('ROLE_USER') %}#}
    {#{% include 'AppBundle:Auth:login.html.twig' %}#}
{#{% endif %}#}
{% include 'AppBundle::popup.html.twig' %}

{% if not is_granted('ROLE_USER') %}
    {% include 'AppBundle:Auth:login.html.twig' %}
{% endif %}

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-64749746-1', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>