{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div>
        <div style="padding: 20px">
            <h2 class="green">Личные данные</h2><br />
            <form method="post" id="prifile-form">
                {#{{ form_widget(form) }}#}
                <div style="width: 600px">
                    <div class="row">
                        {{ form_errors(form) }}
                    </div>
                    <div class="row">
                        <div class="col-sm-6 ">
                            {{form_widget(form.firstName)}}
                        </div>
                        <div class="col-sm-6">
                            {{form_widget(form.lastName)}}
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-6 ">
                            {{form_widget(form.phone)}}
                        </div>
                        <div class="col-sm-6">
                            {{form_widget(form.username)}}
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-6 ">
                            {{form_widget(form.password.pass)}}
                        </div>
                        <div class="col-sm-6">
                            {{form_widget(form.password.confirm)}}
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-12 ">
                            {{form_widget(form.company)}}
                        </div>
                    </div>
                    <br />
                    {{form_widget(form._token)}}
                    <br />
                    <div class="row contact-error-profile" style="color: #CC0000">
                    </div>
                    <div class="row">
                        <div class="col-sm-6 "></div>
                        <div class="col-sm-6 ">
                            <button type="submit" class="btn2" id="profile-submit" style="float: right">Сохранить</button>
                        </div>
                    </div>
                </div>
            </form>
            <br />
            <br />
            <br />
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/jquery.inputmask/js/inputmask.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/app/jquery.inputmask/js/jquery.inputmask.js') }}" type="text/javascript"></script>
    <script>
        $(document).ready(function(){
            $('#appbundle_user_phone').inputmask('+7 (999) 999-99-99');

            $('#profile-submit').click(function(){
                var error = '';
                if ($('#appbundle_user_firstName').val() == ''){
                    error += 'Поле Имя обязательно для заполнения <br />';
                }
                if ($('#appbundle_user_lastName').val() == ''){
                    error += 'Поле Фамилия обязательно для заполнения <br />';
                }
                if ($('#appbundle_user_username').val() == ''){
                    error += 'Поле E-mail обязательно для заполнения <br />';
                }else{
                    var re = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
                    if (!re.test($('#appbundle_user_username').val())){
                        error += 'Поле E-mail Заполнено некорректно <br />';
                    }
                }
                if ($('#appbundle_user_phone').val() == ''){
                    error += 'Поле Телефон обязательно для заполнения <br />';
                }
                if ($('#appbundle_user_company').val() == ''){
                    error += 'Поле Название организации обязательно для заполнения <br />';
                }

                if (error == ''){
//                    $('#prifile-form').submit();
                    return true;
                }else{
                    $('.contact-error-profile').html(error);
                    return false;
                }
            });
        })
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .container{
            min-width: 800px;
            max-width: 1200px;
            margin: 0 auto;
        }

        .form-group{
            width: 550px;
        }
        .form-group label{
            width: 300px;
            text-align: right;
            padding: 5px 10px 5px 5px;
            display: inline-block;
            color: #1B3266;
        }
        .form-group input{

            width: 200px;
            padding: 5px;
            outline: none;
            border-radius: 3px;
        }
        .form-group button{
            margin-top: 20px;
            margin-right: 30px;
            padding: 5px 15px;
            float: right;
        }
        .checkbox label{
            width: 500px;
        }
        .register-block{
            width: 300px;
            /*float: left;*/
        }
        input{
            width: 100%;
        }
    </style>
{% endblock %}