<div class="well">
    <h2 class="modal-title">Навигация</h2>

    <ul class="nav list-group">
        <li class="">
            <a href="{{ path('company_list') }}">
                <i class="glyphicon glyphicon-picture"></i>
                Компании
            </a>
        </li>
        <li class="">
            <a href="{{ path('banner_list') }}">
                <i class="glyphicon glyphicon-picture"></i>
                Щиты
            </a>
        </li>
        <li class="">
            <a href="{{ path('banner_offer') }}">
                <i class="glyphicon glyphicon-picture"></i>
                Предложение дня
            </a>
        </li>
        <li class="">
            <a href="{{ path('page_list') }}">
                <i class="glyphicon glyphicon-align-justify"></i>
                Страницы сайта
            </a>
        </li>
        <li class="">
            <a href="{{ path('review_list') }}">
                <i class="glyphicon glyphicon-star"></i>
                Отзывы
            </a>
        </li>
        <li class="">
            <a href="{{ path('logo_list') }}">
                <i class="glyphicon glyphicon-film"></i>
                Логотипы
            </a>
        </li>
    </ul>
</div>
<div></div>