<input type='hidden' class='dataId' value='{{ object.id }}'>
<div class='map-title'>
    Адрес
    {{ object.adrs }}
</div>
<div style='text-align: center; margin-bottom: 5px'>
    {% if object.img != '' and object.img != null%}
        <a href="{{ object.img }}" class="fancybox"><img src='{{ object.img }}' class='thrumb'/></a>
    {% endif %}
</div>
<table class='map-setting' style='margin: 0 auto'>
    <tr>
        <td>Стоимость</td>
        <td>{{ object.price2 |number_format(1, '.', '') }} р.</td>
    </tr>
    <tr>
        <td>Сторона</td>
        <td>{{ object.side }}</td>
    </tr>
    <tr>
        <td>Формат</td>
        <td>{{ object.format }}</td>
    </tr>
    {#<tr>#}
        {#<td>Тип</td>#}
        {#<td>{{ object.type }}</td>#}
    {#</tr>#}
    <tr>
        <td>Свет</td>
        <td>{{ object.light == 1 ? 'Да' : 'нет' }}</td>
    </tr>
    <tr>
        <td>GRP</td>
        <td>{{ object.grp |number_format(2, '.', '')}}</td>
    </tr>
    <tr>
        <td>OTS</td>
        <td>{{ object.ots |number_format(2, '.', '') }}</td>
    </tr>
</table>
{% if object.hot == 0 or object.hot == '0' or object.hot == null %}
    <table style='margin: 0 auto' class="month-table">
        {% for row in ( 'now' | date('m') .. 12 ) | batch( 2 ) %}
            <tr>
                {#{{ dump(row) }}#}
                {% for column in row %}
                    <td>{{ month[column] }}</td>
                    <td>
                        <input type="checkbox" class="addBasket" data-id="{{ object.id }}" data-month="{{ column }}" {{ myBasket[object.id ~ '-' ~ column ~ '-2015'] is defined ? 'checked="checked"' }}>
                    </td>
                    <td>&nbsp;{{ object.price2 |number_format(1, '.', '') }}&nbsp;р.</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% else %}
    <br />
    <table style='margin: 0 auto' class="month-table">

        {% for row in ( 'now' | date('m') .. ('now' | date('m') + 2) ) | batch( 2 ) %}
            <tr>
                {#{{ dump(row) }}#}
                {% for column in row %}
                    <td>{{ month[column] }}</td>
                    <td>
                        <input type="checkbox" class="addBasket" data-id="{{ object.id }}" data-month="{{ column }}" {{ myBasket[object.id ~ '-' ~ column ~ '-2015'] is defined ? 'checked="checked"' }}>
                    </td>
                    {% if column == 'now' | date('m') %}
                    <td>
                        <span style="text-decoration: line-through">&nbsp;{{ object.price2 |number_format(1, '.', '') }}&nbsp;р.</span>
                        <span style="color: #cc0000; font-weight: bold">&nbsp;{{ object.price2 |number_format(1, '.', '') }}&nbsp;р.</span>
                    </td>
                    {% else %}
                        <td>&nbsp;{{ object.price2 |number_format(1, '.', '') }}&nbsp;р.</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>



    {#<table style='margin-left:  20px' class="month-table">#}
        {#<tr>#}
            {#<td>#}
                {#Апрель#}
                {#<img src="{{ asset('bundles/app/images/fire.gif') }}" title="Горящее предложение">#}
            {#</td>#}
            {#<td>#}
                {#<input type="checkbox" class="addBasket" data-id="{{ object.id }}" data-month="4" {{ myBasket[object.id~'-4-2015'] is defined ? 'checked="checked"' }}>#}
            {#</td>#}
            {#<td>#}
                {#<span style="text-decoration: line-through">&nbsp;{{ object.price2 |number_format(1, '.', '') }}&nbsp;р.</span>#}
                {#<span style="color: #cc0000; font-weight: bold">&nbsp;{{ object.price2 |number_format(1, '.', '') }}&nbsp;р.</span>#}
            {#</td>#}
        {#</tr>#}
        {#<tr><td>&nbsp;</td></tr>#}
        {#<tr>#}
            {#<td>Май</td>#}
            {#<td>#}
                {#<input type="checkbox" class="addBasket" data-id="{{ object.id }}" data-month="5" {{ myBasket[object.id~'-5-2015'] is defined ? 'checked="checked"' }}>#}
            {#</td>#}
            {#<td>&nbsp;{{ object.price2 |number_format(1, '.', '') }}&nbsp;р.</td>#}
        {#</tr>#}
        {#<tr><td>&nbsp;</td></tr>#}
        {#<tr>#}
            {#<td>Июнь</td>#}
            {#<td>#}
                {#<input type="checkbox" class="addBasket" data-id="{{ object.id }}" data-month="6" {{ myBasket[object.id~'-6-2015'] is defined ? 'checked="checked"' }}>#}
            {#</td>#}
            {#<td>&nbsp;{{ object.price2 |number_format(1, '.', '') }}&nbsp;р.</td>#}
        {#</tr>#}
    {#</table>#}

{% endif %}
<br />
{#<div style='text-align: right'>#}
    {#<span class='btn addbasket' style='font-size: 15px'  >Добавить в заказ</span>#}
{#</div>#}