<input type='hidden' class='dataId' value='{{ object.id }}'>
<div class='map-title'>
    Адрес
    {{ object.adrs }}
</div>
<div style='text-align: center; margin-bottom: 5px'>
    {% if object.img != '' and object.img != null%}
        <a href="{{ object.img }}" class="fancybox"><img src='{{ object.img }}' class='thrumb'/></a>
    {% endif %}
</div>
<table class='map-setting' style='margin: 0 auto'>
    <tr>
        <td>Сторона</td>
        <td>{{ object.side }}</td>
    </tr>
    <tr>
        <td>Тип</td>
        <td>{{ object.type }}</td>
    </tr>
    <tr>
        <td>Свет</td>
        <td>{{ object.light == 1 ? 'Да' : 'нет' }}</td>
    </tr>
    <tr>
        <td>GRP</td>
        {% if object.grp == 0 %}
            <td>нд</td>
        {% else %}
            <td>{{ object.grp|number_format(2, '.', ',') | replace("/\.?0*$/",'') }}</td>
        {% endif %}
    </tr>
    <tr>
        <td>OTS</td>
        {% if object.ots == 0 %}
            <td>нд</td>
        {% else %}
            <td>{{ object.ots|number_format(2, '.', ',') | replace("/\.?0*$/",'') }}</td>
        {% endif %}
    </tr>
</table>
{% if object.company != null%}
    {% set monthlySales = object.company.monthlySales %}
{% else %}
    {% set monthlySales = null %}
{% endif %}

{#{{ dump(monthlySales) }}#}

{#{% if object.hot == 0 or object.hot == '0' or object.hot == null %}#}
    <table style='margin: 0 auto' class="month-table">
        {% for row in ( 'now' | date('m')+1 .. 12 ) | batch( 2 ) %}
            <tr>
                {#{{ dump(row) }}#}
                {% for column in row %}
                    <td>{{ month[column] }}</td>
                    <td>
                        <input type="checkbox" class="addBasket" data-id="{{ object.id }}" data-month="{{ column }}" {{ myBasket[object.id ~ '-' ~ column ~ '-2015'] is defined ? 'checked="checked"' }}>
                    </td>
                    {% if object.hotMonth.date is defined and object.hotMonth.date | date('Y')~'-'~column~'-01' == "+1 month" | date('Y-n')~'-01' %}
                        <td>
                        <span style="text-decoration: line-through">
                            {% if monthlySales[column~'2015'] is defined %}
                                &nbsp;{{ object.price2 * ((100 - monthlySales[column~'2015'].percent)/100)  |number_format(1, '.', '') }}&nbsp;р.
                            {% else %}
                                &nbsp;{{ object.price2  |number_format(1, '.', '') }}&nbsp;р.
                            {% endif %}
                        </span>
                            <span style="color: #FF0000">&nbsp;{{ object.price2 * ((100 - object.hotMonth.sale)/100)  |number_format(1, '.', '') }}&nbsp;р.</span>
                        </td>

                    {% else %}
                        {% if monthlySales[column~'2015'] is defined %}
                            <td>&nbsp;{{ object.price2 * ((100 - monthlySales[column~'2015'].percent)/100)  |number_format(1, '.', '') }}&nbsp;р.</td>
                        {% else %}
                            <td>&nbsp;{{ object.price2  |number_format(1, '.', '') }}&nbsp;р.</td>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{#{% else %}#}
    {#<br />#}
    {#<table style='margin: 0 auto' class="month-table">#}

        {#{% for row in ( 'now' | date('m') .. ('now' | date('m') + 2) ) | batch( 2 ) %}#}
            {#<tr>#}
                {#&#123;&#35;{{ dump(row) }}&#35;&#125;#}
                {#{% for column in row %}#}
                    {#<td>{{ month[column] }}</td>#}
                    {#<td>#}
                        {#<input type="checkbox" class="addBasket" data-id="{{ object.id }}" data-month="{{ column }}" {{ myBasket[object.id ~ '-' ~ column ~ '-2015'] is defined ? 'checked="checked"' }}>#}
                    {#</td>#}
                    {#{% if column == 'now' | date('m') %}#}
                    {#<td>#}
                        {#{% if monthlySales[column~'2015'].percent is defined %}#}
                            {#<td>&nbsp;{{ object.price2 * ((100 - monthlySales[column~'2015'].percent)/100)  |number_format(1, '.', '') }}&nbsp;р.</td>#}
                            {#<td>&nbsp;{{ object.price2 * ((100 - monthlySales[column~'2015'].percent)/100)  |number_format(1, '.', '') }}&nbsp;р.</td>#}
                        {#{% else %}#}
                            {#<td>&nbsp;{{ object.price2  |number_format(1, '.', '') }}&nbsp;р.</td>#}
                            {#<td>&nbsp;{{ object.price2  |number_format(1, '.', '') }}&nbsp;р.</td>#}
                        {#{% endif %}#}
                    {#</td>#}
                    {#{% else %}#}
                        {#{% if monthlySales[column~'2015'].percent is defined %}#}
                            {#<td>&nbsp;{{ object.price2 * ((100 - monthlySales[column~'2015'].percent)/100)  |number_format(1, '.', '') }}&nbsp;р.</td>#}
                        {#{% else %}#}
                            {#<td>&nbsp;{{ object.price2  |number_format(1, '.', '') }}&nbsp;р.</td>#}
                        {#{% endif %}#}
                    {#{% endif %}#}
                {#{% endfor %}#}
            {#</tr>#}
        {#{% endfor %}#}
    {#</table>#}
{#{% endif %}#}
<br />
{#<div style='text-align: right'>#}
    {#<span class='btn addbasket' style='font-size: 15px'  >Добавить в заказ</span>#}
{#</div>#}