<input type='hidden' class='dataId' value='{{ object.id }}'>
<div class='map-title'>
    Адрес
    {{ object.adrs }}
</div>
<div style='text-align: center; margin-bottom: 5px'>
    <a href="{{ object.img }}" class="fancybox"><img src='{{ object.img }}' class='thrumb'/></a>
</div>
<table class='map-setting' style='margin: 0 auto'>
    <tr>
        <td>Стоимость</td>
        <td>{{ object.price }} р.</td>
    </tr>
    <tr>
        <td>Сторона</td>
        <td>{{ object.side }}</td>
    </tr>
    <tr>
        <td>Формат</td>
        <td>{{ object.format }}</td>
    </tr>
    {#<tr>#}
        {#<td>Тип</td>#}
        {#<td>{{ object.type }}</td>#}
    {#</tr>#}
    <tr>
        <td>Свет</td>
        <td>{{ object.light == 1 ? 'Да' : 'нет' }}</td>
    </tr>
    <tr>
        <td>GRP</td>
        <td>{{ object.grp }}</td>
    </tr>
    <tr>
        <td>OTS</td>
        <td>{{ object.ots }}</td>
    </tr>
</table>
{% if object.hot == 0 or object.hot == '0' or object.hot == null %}
    <table style='margin: 0 auto' class="month-table">
        <tr>
            <td>Янв</td>
            <td>
                <input type="checkbox" class="addBasket" data-id="{{ object.id }}" data-month="1" {{ myBasket[object.id~'-1-2015'] is defined ? 'checked="checked"' }}>
            </td>
            <td>&nbsp;{{ object.price }}&nbsp;р.</td>
            <td>Фев</td>
            <td>
                <input type="checkbox" class="addBasket" data-id="{{ object.id }}" data-month="2" {{ myBasket[object.id~'-2-2015'] is defined ? 'checked="checked"' }}>
            </td>
            <td>&nbsp;{{ object.price }}&nbsp;р.</td>
        </tr>
        <tr>
            <td>Мар</td>
            <td>
                <input type="checkbox" class="addBasket" data-id="{{ object.id }}" data-month="3" {{ myBasket[object.id~'-3-2015'] is defined ? 'checked="checked"' }}>
            </td>
            <td>&nbsp;{{ object.price }}&nbsp;р.</td>
            <td>Апр</td>
            <td>
                <input type="checkbox" class="addBasket" data-id="{{ object.id }}" data-month="4" {{ myBasket[object.id~'-4-2015'] is defined ? 'checked="checked"' }}>
            </td>
            <td>&nbsp;{{ object.price }}&nbsp;р.</td>
        </tr>
        <tr>
            <td>Май</td>
            <td>
                <input type="checkbox" class="addBasket" data-id="{{ object.id }}" data-month="5" {{ myBasket[object.id~'-5-2015'] is defined ? 'checked="checked"' }}>
            </td>
            <td>&nbsp;{{ object.price }}&nbsp;р.</td>
            <td>Июн</td>
            <td>
                <input type="checkbox" class="addBasket" data-id="{{ object.id }}" data-month="6" {{ myBasket[object.id~'-6-2015'] is defined ? 'checked="checked"' }}>
            </td>
            <td>&nbsp;{{ object.price }}&nbsp;р.</td>
        </tr>
        <tr>
            <td>Июл</td>
            <td>
                <input type="checkbox" class="addBasket" data-id="{{ object.id }}" data-month="7" {{ myBasket[object.id~'-7-2015'] is defined ? 'checked="checked"' }}>
            </td>
            <td>&nbsp;{{ object.price }}&nbsp;р.</td>
            <td>Авг</td>
            <td>
                <input type="checkbox" class="addBasket" data-id="{{ object.id }}" data-month="8" {{ myBasket[object.id~'-8-2015'] is defined ? 'checked="checked"' }}>
            </td>
            <td>&nbsp;{{ object.price }}&nbsp;р.</td>
        </tr>
        <tr>
            <td>Сен</td>
            <td>
                <input type="checkbox" class="addBasket" data-id="{{ object.id }}" data-month="9" {{ myBasket[object.id~'-9-2015'] is defined ? 'checked="checked"' }}>
            </td>
            <td>&nbsp;{{ object.price }}&nbsp;р.</td>
            <td>Окт</td>
            <td>
                <input type="checkbox" class="addBasket" data-id="{{ object.id }}" data-month="10" {{ myBasket[object.id~'-10-2015'] is defined ? 'checked="checked"' }}>
            </td>
            <td>&nbsp;{{ object.price }}&nbsp;р.</td>
        </tr>
        <tr>
            <td>Ноя</td>
            <td>
                <input type="checkbox" class="addBasket" data-id="{{ object.id }}" data-month="11" {{ myBasket[object.id~'-11-2015'] is defined ? 'checked="checked"' }}>
            </td>
            <td>&nbsp;{{ object.price }}&nbsp;р.</td>
            <td>Дек</td>
            <td>
                <input type="checkbox" class="addBasket" data-id="{{ object.id }}" data-month="12" {{ myBasket[object.id~'-12-2015'] is defined ? 'checked="checked"' }}>
            </td>
            <td>&nbsp;{{ object.price }}&nbsp;р.</td>
        </tr>
    </table>
{% else %}
    <br />
    <table style='margin-left:  20px' class="month-table">
        <tr>
            <td>
                Апрель
                <img src="{{ asset('bundles/app/images/fire.gif') }}" title="Горящее предложение">
            </td>
            <td>
                <input type="checkbox" class="addBasket" data-id="{{ object.id }}" data-month="4" {{ myBasket[object.id~'-4-2015'] is defined ? 'checked="checked"' }}>
            </td>
            <td>
                <span style="text-decoration: line-through">&nbsp;{{ object.price }}&nbsp;р.</span>
                <span style="color: #cc0000; font-weight: bold">&nbsp;{{ object.price }}&nbsp;р.</span>
            </td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
            <td>Май</td>
            <td>
                <input type="checkbox" class="addBasket" data-id="{{ object.id }}" data-month="5" {{ myBasket[object.id~'-5-2015'] is defined ? 'checked="checked"' }}>
            </td>
            <td>&nbsp;{{ object.price }}&nbsp;р.</td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
            <td>Июнь</td>
            <td>
                <input type="checkbox" class="addBasket" data-id="{{ object.id }}" data-month="6" {{ myBasket[object.id~'-6-2015'] is defined ? 'checked="checked"' }}>
            </td>
            <td>&nbsp;{{ object.price }}&nbsp;р.</td>
        </tr>
    </table>

{% endif %}
<br />
{#<div style='text-align: right'>#}
    {#<span class='btn addbasket' style='font-size: 15px'  >Добавить в заказ</span>#}
{#</div>#}