{% extends "AdminBundle::layout.html.twig" %}

{% block breadcrumb %}
    <ul class="breadcrumb well">
        <li>Список баннеров</li>
        <li><a href="{{ path('page_add') }}"><span class="btn btn-primary">Добавить</span></a></li>
    </ul>
{% endblock %}

{% block content %}
    <div class="well">
        <table class="table" data-toggle="table"
               data-sort-name="number"
               data-sort-order="desc">
            <thead>
                <tr>
                    <th data-field="number"
                        data-sortable="true">№</th>
                    <th data-field="fio"
                        data-sortable="true">ФИО</th>
                    <th data-field="email"
                        data-sortable="true">Email</th>
                    <th data-field="phone"
                        data-sortable="true">phone</th>
                    <th data-field="price"
                        data-sortable="true">Стоимость</th>
                    <th data-field="setting"
                        data-sortable="false" class="setting">Инструменты</th>
                </tr>
            </thead>
            {% for item in pagination %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.lastName }} {{ item.firstName }} {{ item.surName }}</td>
                    <td>{{ item.username }}</td>
                    <td>{{ item.phone }}</td>
                    <td>{{ item.fullPrice }} руб.</td>
                    <td class="setting">
                        {% spaceless %}
                        <a href="{{ path('basket_export_excel',{'orderId' : item.orderGroup}) }}">
                            <button type="button" class="btn btn-default btn-bg">
                                <span class="glyphicon glyphicon-download"></span>
                            </button>
                        </a>
                            {#&nbsp;#}
                            {#&nbsp;#}
                        {#<a href="{{ path('page_remove',{'id' : item.id}) }}">#}
                            {#<button type="button" class="btn btn-default btn-bg">#}
                                {#<span class="glyphicon glyphicon-remove"></span>#}
                            {#</button>#}
                        {#</a>#}
                        {% endspaceless %}
                    </td>
                </tr>
            {% endfor%}
        </table>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}