
<h2>Запрос на медиаплан с сайта navigator.mediafirst.ru</h2>

<table>
    <tr>
        <td>Имя:</td>
        <td>{{ name }}</td>
    </tr>
    <tr>
        <td>Email:</td>
        <td>{{ email }}</td>
    </tr>
    <tr>
        <td>Телефон:</td>
        <td>{{ phone }}</td>
    </tr>

    <tr>
        <td>период:</td>
        <td>{{ start }} - {{ end }}</td>
    </tr>
    <tr>
        <td>Город:</td>
        <td>{{ city }}</td>
    </tr>
    <tr>
        <td>Округ:</td>
        <td>{{ area }}</td>
    </tr>
    <tr>
        <td>Формат 3х6:</td>
        <td>{{ formatM }}</td>
    </tr>
    <tr>
        <td>Малые форматы:</td>
        <td>{{ formatS }}</td>
    </tr>
    <tr>
        <td>Большие форматы:</td>
        <td>{{ formatL }}</td>
    </tr>
    <tr>
        <td>Ситиборды:</td>
        <td>{{ formatSB }}</td>
    </tr>
    <tr>
        <td>Кол-во конструкций:</td>
        <td>{{ count }}</td>
    </tr>
    <tr>
        <td>Стоимость:</td>
        <td>{{ priceAll }}</td>
    </tr>
</table>

