{% if email is defined %}
    Собран медиаплан
        <b>email:</b> {{ email }}<br />
    {% if name is defined %}
        <b>Имя:</b> {{ name }}<br />
    {% endif %}
    {% if phone is defined %}
        <b>Телефон:</b> {{ phone }}<br />
    {% endif %}
    <br /><br />
    Так же можете посмотреть на собранный медиаплан <a href="{{ url('mediaplan') }}?{{ url }}">на карте</a>.
{% else %}
    Уважаемый(ая), {{ name }}.
    <br />
    <br />
    Благодарим Вас за то, что воспользовались нашей программой «Media First Navigator».<br />
    Высылаем Вам выбранную программу в приложенном документе.<br />
    Готовы ответить на все ваши вопросы. С нами можно связаться по телефону <a href="tel:+74959873595">+7 (495) 987-35-95</a> или по электронной почте <a href="mailto:Ryabova.t@mediafirst.ru">Ryabova.t@mediafirst.ru</a><br />
    Будем рады сотрудничеству.
    <br /><br />
    Вы собрали медиаплан на сайте <a href="navigator.mediafirst.ru">navigator.mediafirst.ru</a>.<br />
    В файле Ваш медиаплан.
    <br /><br />
    Так же можете посмотреть на собранный медиаплан <a href="{{ url('mediaplan') }}?{{ url }}">на карте</a>.
    <br /><br />
    С уважением <a href="nav.mediafirst.ru" target="_blank">navigator.mediafirst.ru</a>
{% endif %}