{% extends "AdminBundle::layout.html.twig" %}

{% block breadcrumb %}
    <ul class="breadcrumb well">
        <li>Список пользователей</li>
        <li><a href="{{ path('user_add') }}"><span class="btn btn-primary">Добавить</span></a></li>
    </ul>
{% endblock %}

{% block content %}
    <div class="well">
        <table class="table" data-toggle="table"
               data-sort-name="login"
               data-sort-order="asc">
            <thead>
                <tr>
                    <th data-field="login"
                        data-sortable="true">Логин</th>
                    <th data-field="fio"
                        data-sortable="true">ФИО</th>
                    <th data-field="right"
                        data-sortable="true">Права</th>
                    <th data-field="setting"
                        data-sortable="false" class="setting">Инструменты</th>
                </tr>
            </thead>
            {% for item in pagination %}
                <tr>
                    {#<td>{{ item.id }}</td>#}
                    <td>{{ item.username }}</td>
                    <td>{{ item }}</td>
                    <td>{{ item.roles[0] }}</td>
                    <td class="setting">
                        {% spaceless %}
                            {% if item.roles[0] == 'ROLE_UNCONFIRMED' %}
                                <a href="{{ path('success_user',{'id' : item.id}) }}">
                                    <button type="button" class="btn btn-success btn-bg">
                                        <span class="glyphicon glyphicon-th-list"></span>
                                    </button>
                                </a>
                                &nbsp;
                                &nbsp;
                            {% endif %}
                            {% if item.roles[0] == 'ROLE_USER' %}
                                <a href="{{ path('fail_user',{'id' : item.id}) }}">
                                    <button type="button" class="btn btn-danger btn-bg">
                                        <span class="glyphicon glyphicon-th-list "></span>
                                    </button>
                                </a>
                                &nbsp;
                                &nbsp;
                            {% endif %}
                            <a href="{{ path('user_edit',{'id' : item.id}) }}">
                                <button type="button" class="btn btn-default btn-bg">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                            </a>
                            &nbsp;
                            &nbsp;
                            <a href="{{ path('user_remove',{'id' : item.id}) }}">
                                <button type="button" class="btn btn-default btn-bg">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </a>
                        {% endspaceless %}
                    </td>
                </tr>
            {% endfor%}
        </table>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}