{% extends "AdminBundle::layout.html.twig" %}

{% block breadcrumb %}
    <ul class="breadcrumb well">
        <li>Интерфейс синхронизации файлов</li>
    </ul>
{% endblock %}

{% block content %}
    <div class="well">
        <h3>Статистика прошлой синхронизации</h3>
        <table class="table">
            {% for l in logs %}
                <tr>
                    <td>{{ l.created | date('d.m.Y H:i:s') }}</td>
                    <td>{{ l.title }}</td>
                </tr>
            {% else %}
                <tr>
                    <td class="text-danger">Логов не обнаружено</td>
                </tr>
            {% endfor %}
        </table>

    </div>
    <div class="well">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group row">
                <label class="col-sm-2" for="appbundle_banner_url" >
                    Файл (JSON или XML)
                </label>
                <div class="col-sm-5">
                    <input type="file"  name="xml" required="required">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2" for="appbundle_banner_url" >
                    Тип файла
                </label>
                <div class="col-sm-5">
                    <select class="form-control" name="type">
                        <option value="1">Гема</option>
                        <option value="2">Вера Олимп</option>
                        <option value="3">Расверо</option>
                        <option value="4">Геллари 3x6</option>
                        <option value="5">Геллари scroll</option>
                        <option value="6">Геллари roller</option>
                    </select>
                </div>
            </div>
            {#<div class="form-group row">#}
            {#<label class="col-sm-2" for="appbundle_banner_url" >#}
            {#размер скидки#}
            {#</label>#}
            {#<div class="col-sm-5">#}
            {#<input type="text" class="form-control" placeholder="Скидка %" name="percent">#}
            {#</div>#}
            {#</div>#}
            <div class="form-group row">
                <label class="col-sm-2" for="appbundle_banner_url" >
                    Горящее предложение
                </label>
                <div class="col-sm-5">
                    <input type="checkbox" style="height: 24px; width: 24px" name="hot"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2" for="appbundle_banner_url" >
                </label>
                <div class="col-sm-5">
                    <button type="submit" id="appbundle_banner_submit" name="appbundle_banner[submit]" class="btn btn-primary">Сохранить</button>
                </div>
            </div>
        </form>
    </div>
    <div class="well">
        <table class="table">
            {% for f in files %}
                {% if f != '.' and f != '..' %}
                    <tr>
                        <td>{{ f }}</td>
                        <td><a href="{{ path('parser-files-remove',{ 'filename' : f }) }}"><span class="glyphicon glyphicon-remove-circle text-danger" style="cursor: pointer" title="Удалить {{ f }}"></span></a></td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
        <button class="btn btn-danger">Начать синхронизацию файлов</button>
    </div>
{% endblock %}