{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div style="color: #737272;  font-size: 16px;">
        <h2 class="green">О нас</h2>
        <br />
        <br />
        <table style="color: #737272">
            <tr>
                <td>
                    <img src="{{ asset('bundles/app/images/img-p-3.png') }}">
                </td>
                <td style="vertical-align: top; padding-left: 40px; text-align: justify">
                    Media First – это медийное направление группы компаний Twiga Communication Group, занимающееся медиа-аналитикой, закупками и планированием рекламных кампаний на территории России и стран СНГ.
                    <br/>
                    <br/>
                    Вот несколько фактов по нашим позициям и сервисам:
                    <br/>
                    <br/>
                    <ul>
                        <li>TWIGA - крупнейшая независимая коммуникационная группа в России и странах СНГ. Член Ассоциации коммуникационных агентств России (АКАР) с 1997 года).</li>
                        <li>Media First: Top-8 Группа по медиа бизнесу за 2013 год (Рейтинг AdIndex/RBC, 2014):</li>
                    </ul>
                    <br/>
                    Media First  сегодня – это команда профессионалов, которые имеют огромный опыт работы в  медиа.
                    <br/>
                    <br/>
                    Независимость, инновации и ориентация на достижение максимальных результатов кампаний наших клиентов - являются нашей первостепенной задачей во всех медиа: ТВ, Радио, Пресса, Outdoor & Indoor, Интернет.
                </td>
            </tr>
        </table>
        <br />
        <br />
        <table style="color: #737272">
            <tr>
                <td style="padding-right: 40px">
                    НАРУЖНАЯ РЕКЛАМА является одним из важнейших медиа-каналов, работающих на имидж бренда, навигацию, охват и другие задачи, стоящие перед кампанией.  Поэтому, сегодня мы расширяем свой арсенал средств планирования в наружной рекламе системой <span class="green" style="font-weight: bold">Media First Navigator</span>.
                    <br />
                    <br />
                    Своим проектом мы доказываем нашим клиентам, что:<br />
                    <span class="green">Нам не важно, насколько сложна задача, нам важно насколько эффективны наши решения для Вашего бизнеса.</span><br />
                    Это одновременно говорит о высоком уровне профессионализма и о стремлении постоянно совершенствовать наши услуги, завоевывая новых клиентов качественно новым уровнем услуг на рынке. В наружной рекламе мы имеем большой опыт работы с крупными рекламодателями.<br />
                    Вашу рекламу мы можем разместить в любой точке РФ. В  нашей базе подрядчиков  - более 500 владельцев конструкций с длительной историей взаимодействия с нашим агентством (до 20 лет сотрудничества!).<br />
                    <br /><br />
                    Media First  предлагает полное сопровождение Рекламной Кампании в ООН (наружной рекламе):<br />
                    <ul>
                        <li>разработка дизайна макета, адаптация под требования форматов и типографии;</li>
                        <li>производство, печать;</li>
                        <li>медиапланирование;</li>
                        <li>размещение;</li>
                        <li>предоставление отчётов по результатам Рекламной Кампании.</li>
                    </ul>
                </td>
                <td>
                    <img src="{{ asset('bundles/app/images/img-p-2.png') }}">
                </td>
            </tr>
        </table>
        <div style="text-align: center">
            <h3 style="text-transform: uppercase">Инструменты для медиапланирования и аналитики:</h3>
        </div>
        <br/>
        <table style="color: #737272" cellspacing="10" class="table-about">
            <tr>
                <td style="text-align: left; width: 16.6%">
                    <img src="{{ asset('bundles/app/images/img-p-4.png') }}">
                </td>
                <td style="text-align: left; width: 16.6%">
                    <img src="{{ asset('bundles/app/images/img-p-6.png') }}">
                </td>
                <td style="width: 16.6%">
                    <img src="{{ asset('bundles/app/images/img-p-43.png') }}">
                </td>
                <td style="text-align: left; width: 16.6%">
                    <img src="{{ asset('bundles/app/images/img-p-7.png') }}">
                </td>
                <td style=" width: 16.6%">
                    <img src="{{ asset('bundles/app/images/img-p-42.png') }}">
                </td>
                <td style="text-align: left; width: 16.6%">
                    <img src="{{ asset('bundles/app/images/img-p-5.png') }}">
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top;">
                    - <b>«Эспар аналитик»</b> -<br />
                    мониторинг наружной рекламы,<br />
                    измерение потенциальных аудиторий в наружной рекламе,<br />
                    оценка эффективности размещения рекламных кампаний.
                </td>
                <td style="vertical-align: top;">
                    - <b>«Odaplan»</b> –<br />
                    оценка дневного охвата и частоты в наружной рекламы,<br />
                    помощь в планировании и оценке кампаний в наружной рекламе.
                </td>
                <td style="vertical-align: top;">
                    - <b>«Odaplan+»</b> -<br />
                    таргетирование наружной рекламы по целевой аудитории.
                </td>
                <td style="vertical-align: top;">
                    - <b>«Odastat»</b> -<br />
                    Предоставление информации об объёмах рекламы (затраты, марки, рекламодатели, товары и т.д.).
                </td>
                <td style="vertical-align: top;">
                    -  <b>«Poster Track»</b> -<br />
                    эффективность РК в наружной рекламе (узнаваемость и заполняемость).
                </td>
                <td style="vertical-align: top;">
                    - <b>«TNS»</b> -<br />
                    маркетинговые исследования, мониторинг рекламы, исследования по секторам рынка: автомобили, медицина, телекоммуникации и др.
                </td>
            </tr>
        </table>
        <br />
        <p style="color: #737272;">
            Мы  хорошо знаем российский медиарынок и умеем использовать только те его возможности, которые будут соответствовать вашим задачам.
            Вы всегда можете быть уверены, что ваш рекламный бюджет будет инвестирован с минимальными рисками, НО с максимальным эффектом.
        </p>
        <img src="{{ asset('bundles/app/images/img-p-1.png') }}" style="float: right">
        <br />
        Медиаплан вашей рекламной кампании будет учитывать:
        <br /><br />
        <ul style="color: #737272">
            <li>Специфику медианосителей;</li>
            <li>Стоимость размещения;</li>
            <li>Предпочтения аудитории;</li>
            <li>Географию рекламной кампании;</li>
            <li>Медиаактивность ваших конкурентов;</li>
            <li>Ограничения законодательства;</li>
            <li>Много других факторов</li>
        </ul>
        <br />
        <div style="text-transform: uppercase">Наши достижения:</div>
        <br />
        <ul style="color: #737272">
            <li>8 лет сотрудничества с клиентом Рольф и реализация охватных программ в 150 городах РФ;</li>
            <li>Опыт в разработке и размещении нестандартных конструкций (экстендеров);</li>
            <li>2011 год - проведение РК для клиента Банк Русский Стандарт в 100 городах РФ;</li>
            <li>2008 год - проведение масштабной РК на транспорте для клиента ТВ3 в 50 городах РФ;</li>
            <li>2014 год - реализация проекта в кратчайшие сроки для клиента Департамент Транспорта;</li>
            <li>реализация больших проектов социальной рекламы по всей России.</li>
        </ul>
        <br />
        <br />
        <div class="green" style="text-transform: uppercase; font-weight: bold">
            Мы будем рады видеть Вашу компанию на носителях с лучшими показателями эффективности.
            Присоединяйтесь к  команде профессионалов!
        </div>
        <br />
        <br />
    </div>
{% endblock %}