{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-3">
            <div class="box">
                <form method="GET" id="form">
                    <div class="form">
                        <div class="title" style="font-size: 20px">Поиск горящих предложений</div>
                        <br />
                        <select name="city">
                            <option value="" disabled selected>Город</option>
                            <option value="Москва" {{ params.city == 'Москва' ? 'selected="selected"' }}>Москва</option>
                        </select>
                        <select name="area">
                            <option value="0" disabled selected>Округ</option>
                            <option value="0" selected>Все округа</option>
                            <option value="ЦАО"  {{ params.area=='ЦАО' ? 'selected="selected"' : '' }}>ЦАО</option>
                            <option value="СВАО" {{ params.area=='СВАО' ? 'selected="selected"' : '' }}>СВАО</option>
                            <option value="ВАО"  {{ params.area=='ВАО' ? 'selected="selected"' : '' }}>ВАО</option>
                            <option value="ЮВАО" {{ params.area=='ЮВАО' ? 'selected="selected"' : '' }}>ЮВАО</option>
                            <option value="ЮАО"  {{ params.area=='ЮАО' ? 'selected="selected"' : '' }}>ЮАО</option>
                            <option value="ЮЗАО" {{ params.area=='ЮЗАО' ? 'selected="selected"' : '' }}>ЮЗАО</option>
                            <option value="ЗАО"  {{ params.area=='ЗАО' ? 'selected="selected"' : '' }}>ЗАО</option>
                            <option value="CЗАО" {{ params.area=='CЗАО' ? 'selected="selected"' : '' }}>CЗАО</option>
                            <option value="CАО"  {{ params.area=='CАО' ? 'selected="selected"' : '' }}>CАО</option>
                        </select>
                        {#<input type="text" placeholder="Улица" id="street" name="street" value="{{ params.street }}" >#}
                        <div class="check-group">
                            Формат 3х6
                            <div class="check {{ params.formatM == 1 ? 'active' : '' }}"></div>
                            <input type="hidden" name="formatM" value="{{ params.formatM == 1 ? 1 : 0 }}">
                        </div>
                        <div class="check-group">
                            Малые форматы
                            <div class="check {{ params.formatS == 1 ? 'active' : '' }}"></div>
                            <input type="hidden" name="formatS" value="{{ params.formatS == 1 ? 1 : 0 }}">
                        </div>
                        <div class="check-group">
                            Большие форматы
                            <div class="check {{ params.formatL == 1 ? 'active' : '' }}"></div>
                            <input type="hidden" name="formatL" value="{{ params.formatL == 1 ? 1 : 0 }}">
                        </div>
                        <div class="check-group">
                            Ситиборды
                            <div class="check {{ params.formatSB == 1 ? 'active' : '' }}"></div>
                            <input type="hidden" name="formatSB" value="{{ params.formatSB == 1 ? 1 : 0 }}">
                        </div>
                        <br />
                        <div class="check-group">
                            Пакеты
                            <div class="check"></div>
                            <input type="hidden" name="packet" value="0">
                        </div>
                        <br />
                        <br />
                        <div style="text-align: right">
                        <span class="btn2" id="form-submit">
                            Найти
                        </span>
                        </div>
                        <br />
                        <br />
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-9">
            <div id="items">
            {{ render(path('hot_ajax')) }}
            </div>
            <br />
        </div>
    </div>
    <div class="row" id="basket">
        <div class="col-sm-12">
            <div id="basket-table">
                {{ include('AppBundle:Basket:table.html.twig') }}
            </div>
            <br />
            <br />
        </div>
    </div>
    <br />
    <br />
{% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script>
            $(document).ready(function(){
                $('#form-submit').click(function(){
                    $('#form').submit();
                });

                function orderRefresh(){
                    $.ajax({
                        url: Routing.generate('order_price'),
                        method: 'GET',
                        success: function(msg){
                            $('#order-btn').html('Заказ на сумму '+msg+' р.');
                            $('#order-btn').css('display','block');
                        }
                    });
                }
                $(document).on('click','.addBasket', function(){
                    var item = $(this);
                    $.ajax({
                        url: Routing.generate('basket_add', {'itemId': item.attr('data-id'), 'month': item.attr('data-month')}),
                        method: 'POST',
                        success: function(msg){
                            $('#basket-table').html(msg);
                            $('.thrumb').notify("позиция добавлена в медиаплан",{ className: 'success', autoHideDelay: 500, showDuration: 200, hideDuration: 200, arrowSize: 1, position: "bottom"  });
                            orderRefresh();
                        }
                    });
                });


                $('#basket-table').on('click','.removeBasket', function(){
                    var item = $(this);
                    $.ajax({
                        url: Routing.generate('basket_remove', {'itemId': $(this).attr('data-id') }),
                        method: 'POST',
                        success: function(msg){
                            $('#basket-table').html(msg);
                            $.notify("позиция удалена",{ className: 'success', autoHideDelay: 500, showDuration: 200, hideDuration: 200, arrowSize: 1, position: "bottom left"  });
                            orderRefresh();
                        }
                    });
                });

                $('.body').on('click','.pagination li a', function(){
                    var link = $(this);
                    $.ajax({
                        url: link.attr('href'),
                        method: 'POST',
                        success: function(msg){
                            $('#items').html(msg);
                        }
                    });
                    return false;
                });
            });
        </script>
    {% endblock %}