{% if banners %}
    <div class="navigation" style="margin-bottom: -15px;margin-top: 15px;">
        {{ knp_pagination_render(banners) }}
    </div>
{% endif %}
{% for b in banners %}
    <div class="hot-box">
        <div class="hot-img">
            <a href="{{ b.img }}" class="fancybox"><img class="img" src="{{ b.img }}"></a>
            <img class="hot-icon" src="{{ asset('bundles/app/images/hot.png') }}">
            {% if basket[b.id~'-4-2015'] is defined  %}
                <img class="ok-icon act" src="{{ asset('bundles/app/images/ok.png') }}">
            {% else %}
                <img class="ok-icon" src="{{ asset('bundles/app/images/ok.png') }}">
            {% endif %}
        </div>
        <br />
        <table class="hot-params">
            <tr>
                <td>Адрес</td>
                <td>{{ b.adrs }}</td>
            </tr>
            <tr>
                <td>Формат</td>
                <td>{{ b.type != null ? b.type : b.format }}</td>
            </tr>
            <tr>
                <td>Цена</td>
                <td>
                    <span style="font-size: 14px; text-decoration: line-through">{{ b.price2 |number_format(1, '.', '') }} р.</span> <br />
                    <b class="pink">{{ b.price2 * ((100-b.hotMonth.percent)/100) |number_format(1, '.', '') }} р.</b>
                    {#{{ dump(b.hotMonth) }}#}
                </td>
            </tr>
            <tr>
                <td>Период</td>
                <td><b class="pink">Август</b></td>
            </tr>
        </table>
        <div>
            <br />
            <table style="width: 100%">
                <tr>
                    <td style="width: 50%">
                        <a href="{{ path('map',{'bannerId' : b.id}) }}">
                            <span class="btn2">На карте</span>
                        </a>
                    </td>
                    <td style="text-align: right">
                        <span class="btn-pink addBasket" data-id="{{ b.id }}" data-month="6">Заказать</span>
                    </td>
                </tr>
            </table>
            <br />
        </div>
    </div>
{% else %}
    <h2 class="pink" style="text-align: center; display: block">По данному запросу предложений не найдено</h2>
{% endfor %}
{% if banners %}
    <div class="navigation">
        {{ knp_pagination_render(banners) }}
    </div>
{% endif %}