{% extends 'AppBundle::layout.html.twig' %}

{% block content %}

    <div class="row" style="min-width: 1170px;">
        <div class="col-xs-8" style="min-width:780px;">
            <div class="slider-box">
                <div style="width: 5300px">
                    <div class="slider-image slide-1">
                        <div class="title">Top-8 Группа по медиа бизнесу за 2013 год<br />
                            (Рейтинг Adindex/RBC, 2014)</div>
                    </div>
                    <div class="slider-image slide-2">
                        <div class="title">Наличие полного пакета «Эспар аналитик»</div>
                    </div>
                    <div class="slider-image slide-3">
                        <div class="title">Собственная типография</div>
                    </div>
                    <div class="slider-image slide-4">
                        <div class="title">Разработка дизайн макета и адаптация</div>
                    </div>
                    <div class="slider-image slide-5">
                        <div class="title">Прямые контракты с владельцами конструкций -<br />
                            более 500 подрядчиков</div>
                    </div>
                    <div class="slider-image slide-6">
                        <div class="title">Предоставление ночного фотоотчёта</div>
                    </div>
                    <div class="slider-image slide-7">
                        <div class="title">Синхронизация конструкций в on-line режиме</div>
                    </div>
                </div>
            </div>
            <script>
                $(document).ready(function(){
                    setInterval(function(){
                        var box = $('.slider-box').children('div');
                        var item = box.children('div.slider-image').eq(0);
                        item.animate({ marginLeft: '-750px' },300, function(){
                            box.append(item);
                            item.css('margin-left','0');
                        });
                    }, 3000);
                });
            </script>
            <br />
            <h1 class="pink" style="margin-top: 20px;">
                МЕДИА-ПЛАН ПО НАРУЖКЕ ЗА ТРИ МИНУТЫ!
            </h1>
        </div>
        <div class="col-xs-4">
            <div class="box" style="  margin-top: -15px;">
                <div class="form">
                    <form method="POST" id="form-top" action="{{ path('send_getmedia') }}">
                        <div class="title" style="font-size: 20px; margin-bottom: 10px">Закажите свой медиа-план!</div>
                        <div class="error2">

                        </div>
                        <div class="relative">
                            <span class="required"></span>
                            <select id="city" name="city" required="true" class="required">
                                <option value="0" disabled selected>Город</option>
                                {% for c in cities %}
                                    <option value="{{ c.title }}">{{ c.title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="relative">
                            <select id="area" name="area">
                                <option value="0" disabled selected>Округ</option>
                                <option value="0" selected>Все округа</option>
                                <option value="ЦАО">ЦАО</option>
                                <option value="СВАО">СВАО</option>
                                <option value="ВАО">ВАО</option>
                                <option value="ЮВАО">ЮВАО</option>
                                <option value="ЮАО">ЮАО</option>
                                <option value="ЮЗАО">ЮЗАО</option>
                                <option value="ЗАО">ЗАО</option>
                                <option value="CЗАО">CЗАО</option>
                                <option value="САО">САО</option>
                            </select>
                        </div>
                        <div class="relative">
                            <div class="check-group">
                                Формат 3х6
                                <div class="check"></div>
                                <input type="hidden" name="formatM" value="0">
                            </div>
                            <div class="check-group">
                                Малые форматы
                                <div class="check"></div>
                                <input type="hidden" name="formatS" value="0">
                            </div>
                            <div class="check-group">
                                Большие форматы
                                <div class="check"></div>
                                <input type="hidden" name="formatL" value="0">
                            </div>
                            <div class="check-group">
                                Ситиборды
                                <div class="check"></div>
                                <input type="hidden" name="formatSB" value="0">
                            </div>
                        </div>
                        <div class="relative">
                            <div class="input-group" style="padding-left: 20px">
                                <span class="required" style="  margin-left: -20px;padding-right: 10px;"></span>
                                Период
                                <div style="float: right;">
                                    с&nbsp;&nbsp;
                                    <select class="mini" id="dateStart" name="dateStart">
                                        <option value="0" disabled selected="selected">Дата начала</option>
                                        <option value="1"  {{ 'now'|date('m')+1 == 1 ? 'selected="selected"' : '' }}>Янв</option>
                                        <option value="2"  {{ 'now'|date('m')+1 == 2 ? 'selected="selected"' : '' }}>Фев</option>
                                        <option value="3"  {{ 'now'|date('m')+1 == 3 ? 'selected="selected"' : '' }}>Мар</option>
                                        <option value="4"  {{ 'now'|date('m')+1 == 4 ? 'selected="selected"' : '' }}>Апр</option>
                                        <option value="5"  {{ 'now'|date('m')+1 == 5 ? 'selected="selected"' : '' }}>Май</option>
                                        <option value="6"  {{ 'now'|date('m')+1 == 6 ? 'selected="selected"' : '' }}>Июн</option>
                                        <option value="7"  {{ 'now'|date('m')+1 == 7 ? 'selected="selected"' : '' }}>Июл</option>
                                        <option value="8"  {{ 'now'|date('m')+1 == 8 ? 'selected="selected"' : '' }}>Авг</option>
                                        <option value="9"  {{ 'now'|date('m')+1 == 9 ? 'selected="selected"' : '' }}>Сен</option>
                                        <option value="10" {{ 'now'|date('m')+1 == 10 ? 'selected="selected"' : '' }}>Окт</option>
                                        <option value="11" {{ 'now'|date('m')+1 == 11 ? 'selected="selected"' : '' }}>Ноя</option>
                                        <option value="12" {{ 'now'|date('m')+1 == 12 ? 'selected="selected"' : '' }}>Дек</option>
                                    </select>
                                    &nbsp;&nbsp;по&nbsp;&nbsp;
                                    <select class="mini" id="dateEnd" name="dateEnd">
                                        <option value="0" disabled selected="selected">Дата окончания</option>
                                        <option value="1"  {{ 'now'|date('m')+1 == 1 ? 'selected="selected"' : '' }}>Янв</option>
                                        <option value="2"  {{ 'now'|date('m')+1 == 2 ? 'selected="selected"' : '' }}>Фев</option>
                                        <option value="3"  {{ 'now'|date('m')+1 == 3 ? 'selected="selected"' : '' }}>Мар</option>
                                        <option value="4"  {{ 'now'|date('m')+1 == 4 ? 'selected="selected"' : '' }}>Апр</option>
                                        <option value="5"  {{ 'now'|date('m')+1 == 5 ? 'selected="selected"' : '' }}>Май</option>
                                        <option value="6"  {{ 'now'|date('m')+1 == 6 ? 'selected="selected"' : '' }}>Июн</option>
                                        <option value="7"  {{ 'now'|date('m')+1 == 7 ? 'selected="selected"' : '' }}>Июл</option>
                                        <option value="8"  {{ 'now'|date('m')+1 == 8 ? 'selected="selected"' : '' }}>Авг</option>
                                        <option value="9"  {{ 'now'|date('m')+1 == 9 ? 'selected="selected"' : '' }}>Сен</option>
                                        <option value="10" {{ 'now'|date('m')+1 == 10 ? 'selected="selected"' : '' }}>Окт</option>
                                        <option value="11" {{ 'now'|date('m')+1 == 11 ? 'selected="selected"' : '' }}>Ноя</option>
                                        <option value="12" {{ 'now'|date('m')+1 == 12 ? 'selected="selected"' : '' }}>Дек</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div  class="relative">
                            <span class="required"></span>
                            <input type="text" placeholder="Количество конструкций" id="count" required="required" name="count">
                        </div>
                        <div  class="relative">
                            <span class="required"></span>
                            <input type="text" placeholder="Стоимость" id="priceAll" required="required" name="priceAll">
                        </div>
                        <div  class="relative">
                            <span class="required"></span>
                            <input type="text" class="name" placeholder="Имя" name="name" id="name" required="required">
                        </div>
                        <div  class="relative">
                            <span class="required"></span>
                            <input type="text" class="email" placeholder="Email" name="email" id="email" required="required">
                        </div>
                        <div  class="relative">
                            <span class="required"></span>
                            <input type="text" class="phone" placeholder="Телефон" name="phone" id="phone" required="required">
                        </div>
                        <br />
                        <div style="text-align: right">
                            <span class="btn2" id="form-top-submit">
                                Заказать
                            </span>
                        </div>
                        <br />
                    </form>
                </div>
            </div>
        </div>
    </div>
    {#<div class="row">#}
    {#<div class="col-xs-12">#}
    {#</div>#}
    {#</div>#}
    <div class="row">
        <div class="col-xs-4">
            <div class="box" style="height: 620px;">
                <form method="GET" action="{{ path('map') }}" id="form-map">
                    <div class="form">
                        <div class="title">Поиск щитов по параметрам</div>
                        <br />
                        <select name="city" id="city2">
                            <option value="0" disabled selected>Город</option>
                            {% for c in cities %}
                                <option value="{{ c.title }}">{{ c.title }}</option>
                            {% endfor %}
                        </select>
                        <br />
                        <select name="area" id="area2">
                            <option value="" disabled selected>Округ</option>
                            <option value="" selected>Все округа</option>
                            <option value="ЦАО">ЦАО</option>
                            <option value="СВАО">СВАО</option>
                            <option value="ВАО">ВАО</option>
                            <option value="ЮВАО">ЮВАО</option>
                            <option value="ЮАО">ЮАО</option>
                            <option value="ЮЗАО">ЮЗАО</option>
                            <option value="ЗАО">ЗАО</option>
                            <option value="CЗАО">CЗАО</option>
                            <option value="САО">САО</option>

                        </select>
                        <br />
                        <input type="text" placeholder="Улица" id="street" name="street">
                        {#<div class="check-group">#}
                        {#Пакеты#}
                        {#<div class="check"></div>#}
                        {#<input type="hidden" name="packets" value="0">#}
                        {#</div>#}
                        <div class="input-group" style="padding-left: 20px">
                            Период
                            <div style="float: right;">
                                с&nbsp;&nbsp;
                                <select class="mini" name="dateStart">
                                    <option value="1"  {{ 'now'|date('m')+1 == 1 ? 'selected="selected"' : '' }}>Янв</option>
                                    <option value="2"  {{ 'now'|date('m')+1 == 2 ? 'selected="selected"' : '' }}>Фев</option>
                                    <option value="3"  {{ 'now'|date('m')+1 == 3 ? 'selected="selected"' : '' }}>Мар</option>
                                    <option value="4"  {{ 'now'|date('m')+1 == 4 ? 'selected="selected"' : '' }}>Апр</option>
                                    <option value="5"  {{ 'now'|date('m')+1 == 5 ? 'selected="selected"' : '' }}>Май</option>
                                    <option value="6"  {{ 'now'|date('m')+1 == 6 ? 'selected="selected"' : '' }}>Июн</option>
                                    <option value="7"  {{ 'now'|date('m')+1 == 7 ? 'selected="selected"' : '' }}>Июл</option>
                                    <option value="8"  {{ 'now'|date('m')+1 == 8 ? 'selected="selected"' : '' }}>Авг</option>
                                    <option value="9"  {{ 'now'|date('m')+1 == 9 ? 'selected="selected"' : '' }}>Сен</option>
                                    <option value="10" {{ 'now'|date('m')+1 == 10 ? 'selected="selected"' : '' }}>Окт</option>
                                    <option value="11" {{ 'now'|date('m')+1 == 11 ? 'selected="selected"' : '' }}>Ноя</option>
                                    <option value="12" {{ 'now'|date('m')+1 == 12 ? 'selected="selected"' : '' }}>Дек</option>
                                </select>
                                &nbsp;&nbsp;по&nbsp;&nbsp;
                                <select class="mini" name="dateEnd">
                                    <option value="1"  {{ 'now'|date('m')+1 == 1 ? 'selected="selected"' : '' }}>Янв</option>
                                    <option value="2"  {{ 'now'|date('m')+1 == 2 ? 'selected="selected"' : '' }}>Фев</option>
                                    <option value="3"  {{ 'now'|date('m')+1 == 3 ? 'selected="selected"' : '' }}>Мар</option>
                                    <option value="4"  {{ 'now'|date('m')+1 == 4 ? 'selected="selected"' : '' }}>Апр</option>
                                    <option value="5"  {{ 'now'|date('m')+1 == 5 ? 'selected="selected"' : '' }}>Май</option>
                                    <option value="6"  {{ 'now'|date('m')+1 == 6 ? 'selected="selected"' : '' }}>Июн</option>
                                    <option value="7"  {{ 'now'|date('m')+1 == 7 ? 'selected="selected"' : '' }}>Июл</option>
                                    <option value="8"  {{ 'now'|date('m')+1 == 8 ? 'selected="selected"' : '' }}>Авг</option>
                                    <option value="9"  {{ 'now'|date('m')+1 == 9 ? 'selected="selected"' : '' }}>Сен</option>
                                    <option value="10" {{ 'now'|date('m')+1 == 10 ? 'selected="selected"' : '' }}>Окт</option>
                                    <option value="11" {{ 'now'|date('m')+1 == 11 ? 'selected="selected"' : '' }}>Ноя</option>
                                    <option value="12" {{ 'now'|date('m')+1 == 12 ? 'selected="selected"' : '' }}>Дек</option>
                                </select>
                            </div>
                        </div>
                        <br />
                        <div class="slider-group">
                            <span class="caption" style="float: left; margin-top: 8px;">GRP</span>
                            <span id="grp-amount" class="val"></span>
                            <span class="slider" id="grp" style="float: right"></span>
                            <input type="hidden" name="grp-min" id="grp-min" value="0">
                            <input type="hidden" name="grp-max" id="grp-max" value="3">
                        </div>
                        <br />
                        <div class="slider-group">
                            <span class="caption" style="float: left; margin-top: 8px;">OTS</span>
                            <span id="ots-amount" class="val"></span>
                            <span class="slider"  id="ots" style="float: right"></span>
                            <input type="hidden" name="ots-min" id="ots-min" value="0">
                            <input type="hidden" name="ots-max" id="ots-max" value="500">
                        </div>
                        <br />
                        <div class="slider-group">
                            <span class="caption" style="float: left; margin-top: 8px;">Стоимость</span>
                            <span id="price-amount" class="val"></span>
                            <span class="slider" id="price" style="float: right"></span>
                            <input type="hidden" name="price-min" id="price-min" value="0">
                            <input type="hidden" name="price-max" id="price-max" value="999">
                        </div>
                        <br style="clear: both"/>
                        Форматы
                        <div class="check-group">
                            Формат 3х6
                            <div class="check active"></div>
                            <input type="hidden" name="formatM" value="1">
                        </div>
                        <div class="check-group">
                            Малые форматы
                            <div class="check active"></div>
                            <input type="hidden" name="formatS" value="1">
                        </div>
                        <div class="check-group">
                            Большие форматы
                            <div class="check active"></div>
                            <input type="hidden" name="formatL" value="1">
                        </div>
                        <div class="check-group">
                            <div class="check-group">
                                Ситиборды
                                <div class="check active"></div>
                                <input type="hidden" name="formatSB" value="1">
                            </div>
                        </div>
                        <br />
                        <div style="text-align: right">
                            <span class="btn2" id="form-map-submit">
                                Найти
                            </span>
                        </div>
                        <br />

                    </div>
                </form>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="box">
                <div class="form">
                    <div class="title">Поиск щитов на карте</div>
                    <br />
                    <div style="text-align: center">
                        <a href="{{ path('map') }}">
                            <img src="{{ asset('bundles/app/images/map.png') }}" class="round"/>
                        </a>
                    </div>
                    <br />
                    <br />
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="box">
                <div class="form" style="  height: 620px;">
                    <div class="title pink">Горящие предложения</div>
                    <br />
                    {% for b in banners %}
                        <div class="hot-box-mini">
                            <a href="{{ path('hot') }}">
                                <table>
                                    <tr>
                                        <td>
                                            <div class="hot-img">
                                                <img class="img" src="{{ b.img }}">
                                            </div>
                                        </td>
                                        <td>
                                            <table class="hot-params">
                                                <tr>
                                                    <td colspan="2">{{ b.adrs }}</td>
                                                </tr>
                                                <tr>
                                                    <td>Формат</td>
                                                    <td style="text-align: right">{{ b.format }}</td>
                                                </tr>
                                                <tr>
                                                    <td>Цена</td>
                                                    <td style="text-align: right">
                                                        <span style="font-size: 12px; text-decoration: line-through">{{ b.price2 |number_format(1, '.', '') }} р.</span> <br />
                                                        <b class="pink">{{ b.price2 |number_format(1, '.', '') }}&nbsp;р.</b>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Период</td>
                                                    <td style="text-align: right"><b class="pink">Июнь</b></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </a>
                        </div>
                    {% endfor %}
                    <div style="text-align: right">
                        <a href="{{ path('hot') }}" class="pink" style="font-size: 23px">Показать ВСЕ</a>
                    </div>
                    <br/>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8">
            <div class="box" style="background: #FFFFFF">
                <div class="form" style="color: #333">
                    <div class="title">Почему МЫ ?</div>
                    <br />
                    <table class="we">
                        <tr>
                            <td style="text-align: center; width: 20%; vertical-align: top;">
                                <img src="{{ asset('bundles/app/images/like.png') }}"/>
                                <br />
                                <div style="  text-align: left;color: #444;font-size: 15px;padding-top: 10px;">
                                    Синхронизация конструкций о наличии/стоимости в on-line режиме с владельцами конструкций
                                </div>

                            </td>
                            <td style="text-align: center; width: 20%; vertical-align: top;">
                                <img src="{{ asset('bundles/app/images/like.png') }}"/>
                                <br />
                                <div style="text-align: left;color: #444;font-size: 15px;padding-top: 10px;">
                                    Взаимодействие с более чем 90 регионами по всей России
                                </div>
                            </td>
                            <td style="text-align: center; width: 20%; vertical-align: top;">
                                <img src="{{ asset('bundles/app/images/like.png') }}"/>
                                <br />
                                <div style="text-align: left;color: #444;font-size: 15px;padding-top: 10px;">
                                    Наличие полного пакета Эспар Аналитик:<br />
                                    ODA Plan, ODA Plan Plus, Poster Track
                                </div>
                            </td>
                            <td style="text-align: center; width: 20%; vertical-align: top;">
                                <img src="{{ asset('bundles/app/images/like.png') }}"/>
                                <br />
                                <div style="text-align: left;color: #444;font-size: 15px;padding-top: 10px;">
                                    Собственная производственная база
                                </div>
                            </td>
                            <td style="text-align: center; width: 20%; vertical-align: top;">
                                <img src="{{ asset('bundles/app/images/like.png') }}"/>
                                <br />
                                <div style="text-align: left;color: #444;font-size: 15px;padding-top: 10px;">
                                    Наличие в группе креативного агентства
                                </div>
                            </td>
                        </tr>
                    </table>
                    <br />
                    <br />
                </div>
            </div>
            <div class="box" style="margin-top: 30px; background: #FFF">
                <div class="form">
                    <div class="title">Нас выбрали</div>
                    <div style="text-align: center">
                        {% for l in logos %}
                            <img src="{{ l.image.path }}" style="max-width: 100px; max-height: 100px; margin: 10px" title="{{ l.title }}"/>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="box">
                <div class="form">
                    <div class="title">Отзывы клиентов</div>
                    {% for r in reviews %}
                        <div style="overflow: hidden; padding: 5px 0 10px 0">
                            {% if r.image.path is defined %}
                                <img src="{{ r.image.path }}" style="width: 120px; float: left; margin: 10px;">
                            {% endif %}
                            <div style="font-size: 20px; line-height: 20px">{{ r.title }}</div>
                            <br />
                            <div>{{ r.body }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {#<div style="text-align: center">#}
            {#<span class="btn-basket">Корзина пуста</span>#}
            {#</div>#}
            {#<br />#}
            {#<br />#}
        </div>
    </div>


{% endblock %}

    {% block stylesheets %}
        {{ parent() }}
    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script type="text/javascript">
            $(document).ready(function(){

                $('#street' ).kladr({
                    token: '541ee4ac7c52392c7d8b457e',
                    key: '181d5e2c44994c335e5e81e9ae46e79a67b6b495',
                    type: $.kladr.type.street,
                    parentType: $.kladr.type.city,
                    parentId: '7700000000000',
                    select: function(obj){
                        $('#street').val(obj.typeShort+' '+obj.name);
                    },
                    close: function(){
                        $.ajax({
                            url: '{{ path('get_coords') }}',
                            processData: false,
                            method: 'POST',
                            data: 'street='+$('#street').val(),
                            success: function(msg){
                                coords = msg.data;
                                map.setCenter(coords);
                            }
                        });
                    }
                });
                $('#street2' ).kladr({
                    token: '541ee4ac7c52392c7d8b457e',
                    key: '181d5e2c44994c335e5e81e9ae46e79a67b6b495',
                    type: $.kladr.type.street,
                    parentType: $.kladr.type.city,
                    parentId: '7700000000000',
                    select: function(obj){
                        $('#street').val(obj.typeShort+' '+obj.name);
                    },
                    close: function(){
                        $.ajax({
                            url: '{{ path('get_coords') }}',
                            processData: false,
                            method: 'POST',
                            data: 'street='+$('#street2').val(),
                            success: function(msg){
                                coords = msg.data;
                                map.setCenter(coords);
                            }
                        });
                    }
                });

                $( "#grp" ).slider({
                    range: true,
                    min: 0,
                    max: 300,
                    values: [ 0, 300 ],
                    slide: function( event, ui ) {
                        $( "#grp-amount" ).html( "" + ui.values[ 0 ]/100 + " - " + ui.values[ 1 ]/100 );
                        $( "#grp-min" ).val(ui.values[ 0 ]/100);
                        $( "#grp-max" ).val(ui.values[ 1 ]/100);
                    }
                });
                $( "#grp-amount" ).html( "" + $( "#grp" ).slider( "values", 0 )/100 +
                " - " + $( "#grp" ).slider( "values", 1 )/100 );

                $( "#ots" ).slider({
                    range: true,
                    min: 0,
                    max: 500,
                    values: [ 0, 500 ],
                    slide: function( event, ui ) {
                        $( "#ots-amount" ).html( "" + ui.values[ 0 ] + " - " + ui.values[ 1 ] );
                        $( "#ots-min" ).val(ui.values[ 0 ]);
                        $( "#ots-max" ).val(ui.values[ 1 ]);
                    }
                });
                $( "#ots-amount" ).html( "" + $( "#ots" ).slider( "values", 0 ) +
                " - " + $( "#ots" ).slider( "values", 1 ) );

                $( "#price" ).slider({
                    range: true,
                    min: 0,
                    max: 999,
                    values: [ 0, 999 ],
                    slide: function( event, ui ) {
                        $( "#price-amount" ).html( "" + ui.values[ 0 ] + " т.р. - " + ui.values[ 1 ] + ' т.р.' );
                        $( "#price-min" ).val(ui.values[ 0 ]);
                        $( "#price-max" ).val(ui.values[ 1 ]);
                    }
                });
                $( "#price-amount" ).html( "" + $( "#price" ).slider( "values", 0 ) +
                " т.р. - " + $( "#price" ).slider( "values", 1 ) + ' т.р.' );



                $('#form-top-submit').click(function(){
                    // Валидация полей
                    var error2 = '';
                    if ($('#name').val() == ''){
                        error2 += 'Поле имя обязательно для заполнения <br />';
                        $('#name').css('border','1px solid #CC0000');
                    }
                    if ($('#city').val() == '0' || $('#city').val() == null){
                        error2 += 'Поле город обязательно для заполнения <br />';
                        $('#city').css('border','1px solid #CC0000');
                    }
                    if ($('#dateStart').val() == '0' || $('#dateEnd').val() == '0' || $('#dateStart').val() == null || $('#dateEnd').val() == null){
                        error2 += 'Поля период обязательны для заполнения <br />';
                        $('#dateStart').css('border','1px solid #CC0000');
                    }
                    if ($('#count').val() == ''){
                        error2 += 'Поле кол-во щитов обязательно для заполнения <br />';
                        $('#count').css('border','1px solid #CC0000');
                    }
                    if ($('#priceAll').val() == ''){
                        error2 += 'Поле стоимость обязательно для заполнения <br />';
                        $('#priceAll').css('border','1px solid #CC0000');
                    }
                    if ($('#email').val() == ''){
                        error2 += 'Поле e-mail обязательно для заполнения <br />';
                        $('#email').css('border','1px solid #CC0000');
                    }else{
                        var re = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
                        if (!re.test($('#email').val())){
                            error2 += 'Поле e-mail Заполнено некорректно <br />';
                            $('#email').css('border','1px solid #CC0000');
                        }
                    }
                    if ($('#phone').val() == ''){
                        error2 += 'Поле телефон обязательно для заполнения <br />';
                        $('#phone').css('border','1px solid #CC0000');
                    }
                    if (error2 == ''){
                        $('#form-top').submit();
                    }else{
                        error2 = 'Поля выделенные красным обязательны к заполнению';
                        $('.error2').html(error2);
                    }
                });

                $('#form-map-submit').click(function(){
                    $('#form-map').submit();
                });

                $('#city').change(function(){
                    if ($(this).val() != 'Москва'){
                        $('#area').prop( "disabled", true  );
                        $('#area option').eq(0).prop('selected', true);
                    }else{
                        $('#area').prop( "disabled", false);
                    }
                });

                $('#city2').change(function(){
                    if ($(this).val() != 'Москва'){
                        $('#area2').prop( "disabled", true );
                        $('#area2 option').eq(0).prop('selected', true);
                    }else{
                        $('#area2').prop( "disabled", false );
                    }
                });

            });
        </script>
    {% endblock %}