{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="sidebar" id="sidebar">
            {#<img src="{{ asset('bundles/app/images/menu2.png') }}" class="menu-btn">#}
            <div class="close-slidebar">
                <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNCIgaGVpZ2h0PSIxNCI+PHBvbHlnb24gZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIHBvaW50cz0iMTQsMC43IDEzLjMsMCA3LDYuMjk5IDAuNywwIDAsMC43IDYuMyw3IDAsMTMuMjk5IDAuNywxNCA3LDcuNyAxMy4zLDE0IDE0LDEzLjI5OSA3LjcsNyIvPjwvc3ZnPg==">
            </div>
            <div id="content">

            </div>
            <div class="filter-box">
                <h2>Фильтр</h2>
                <table class="filter">
                    <tr>
                        <td colspan="2">
                            <input type="text" name="street" value="" id="street" style="width: 200px; padding-left: 10px" placeholder="Улица">
                        </td>
                    </tr>
                    <tr>
                        <td>Округ:</td>
                        <td class="value">
                            <select id="area">
                                <option value="null">Не выбрано</option>
                                <option value="ЦАО">ЦАО</option>
                                <option value="САО">САО</option>
                                <option value="СВАО">СВАО</option>
                                <option value="ВАО">ВАО</option>
                                <option value="ЮВАО">ЮВАО</option>
                                <option value="ЮАО">ЮАО</option>
                                <option value="ЮЗАО">ЮЗАО</option>
                                <option value="ЗАО">ЗАО</option>
                                <option value="СЗАО">СЗАО</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Формат:</td>
                        <td class="value">
                            <select>
                                <option value="3x6" id="format">3x6</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Тип:</td>
                        <td class="value">
                            <select>
                                <option value="BB" id="type">BB</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Свет:</td>
                        <td class="value">
                            <input type="checkbox" id="light">
                        </td>
                    </tr>
                    <tr>
                        <td>GRP:</td>
                        <td class="value">
                            <p>
                                <input type="text" id="grp-amount" readonly style="border:0; color:#1b3266; font-weight:bold;">
                            </p>
                            <div id="grp"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>OTS:</td>
                        <td class="value">
                            <p>
                                <input type="text" id="ots-amount" readonly style="border:0; color:#1b3266; font-weight:bold;">
                            </p>
                            <div id="ots"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>Месяц:</td>
                        <td class="value">
                            <p>
                                <input type="text" id="month-amount" readonly style="border:0; color:#1b3266; font-weight:bold;">
                            </p>
                            <div id="month"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>Цена:</td>
                        <td class="value">
                            <p>
                                <input type="text" id="price-amount" readonly style="border:0; color:#1b3266; font-weight:bold;">
                            </p>
                            <div id="price"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#" id="excel">Скачать</a>
                        </td>
                        <td  class="value">
                            <a href="#" id="filter">Подобрать</a>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
        <div class="main" id="map"></div>
        <footer>

        </footer>
    </div>
{% endblock %}

{% block stylesheets %}
        {{ parent() }}
        <link href="{{ asset('bundles/app/kladrapi/jquery.kladr.css') }}" rel="stylesheet" media="all">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/kladrapi/jquery.kladr.min.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            var map;
            var objects;
            var clusterer = null;
            ym.ready(init);
            function init(){
                map = new ym.Map('map', {
                    center: [55.755381, 37.619044],
                    zoom: 13
                });
                objects = getObjects(null);
            }

            function getObjects(filter){
                $.ajax({
                    url: '{{ path('get_objects') }}',
                    processData: false,
                    method: 'POST',
                    data: filter,
                    success: function(msg){
                        objects = msg.data;
                        var placemarks = [];
                        for (var i = 0, l = objects.length; i < l; i++) {
                            placemarks[i] = new ym.GeoObject({
                                geometry: {
                                    type: "Point",
                                    coordinates: objects[i].coords //Массив
                                },
                                properties:{
                                    hintContent: objects[i].alt, //Подсказка
                                    balloonContent: objects[i].content
                                }
                            });
                        }
                        var clusterer = new ym.Clusterer();
//                        clussterer.removeAll();
                        clusterer.add(placemarks);
                        map.geoObjects.add(clusterer);
                    }
                });
            }


            $('#filter').click(function () {
                var area = $('#area').val();
                var format = $('#format').val();
                var type = $('#type').val();
                var light = $('#light').val();
                var grpMin = $("#grp").slider("values", 0) / 100;
                var grpMax = $("#grp").slider("values", 1) / 100;
                var otsMin = $("#ots").slider("values", 0);
                var otsMax = $("#ots").slider("values", 1);

                var filter =
                    'area='+area+
                    '&format='+format+
                    '&type='+type+
                    '&light='+light+
                    '&grpMin='+grpMin+
                    '&grpMax='+grpMax+
                    '&otsMin='+otsMin+
                    '&otsMax='+otsMax;
                getObjects(filter);
                return false;
            });

            $('#excel').click(function () {
                var area = $('#area').val();
                var format = $('#format').val();
                var type = $('#type').val();
                var light = $('#light').val();
                var grpMin = $("#grp").slider("values", 0) / 100;
                var grpMax = $("#grp").slider("values", 1) / 100;
                var otsMin = $("#ots").slider("values", 0);
                var otsMax = $("#ots").slider("values", 1);

                var filter =
                        'area='+area+
                        '&format='+format+
                        '&type='+type+
                        '&light='+light+
                        '&grpMin='+grpMin+
                        '&grpMax='+grpMax+
                        '&otsMin='+otsMin+
                        '&otsMax='+otsMax;
                var url = '{{ path('all_export') }}?'+filter;
                window.location.href = url;
            });


            $('#street' ).kladr({
                token: '541ee4ac7c52392c7d8b457e',
                key: '181d5e2c44994c335e5e81e9ae46e79a67b6b495',
                type: $.kladr.type.street,
                parentType: $.kladr.type.city,
                parentId: '7700000000000',
                select: function(obj){
                    $('#street').val(obj.typeShort+' '+obj.name);
//                    $('#street').refresh();
                },
                close: function(){
                    $.ajax({
                        url: '{{ path('get_coords') }}',
                        processData: false,
                        method: 'POST',
                        data: 'street='+$('#street').val(),
                        success: function(msg){
                            coords = msg.data;
                            map.setCenter(coords);
                        }
                    });
                }
            });

        });
    </script>
{% endblock %}