{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12" style="  margin-top: -20px;">
            <div style="float: left">
                <h2 class="green">Поиск щитов по карте</h2>
            </div>
            {#<img src="{{ asset('bundles/app/images/iconInfo.png') }}" style="width: 32px; height: 32px; float: right;  margin-top: 10px;" id="popover"/>#}
            <img src="{{ asset('bundles/app/images/tooltip.png') }}" style="margin-left: 175px;width: 500px; opacity: 0.8;z-index: 999;position: absolute; top: 75px"/>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="box">
                <form method="GET" id="form" action="{{ path('map') }}">
                    <div class="form">
                        <h2 class="green">Фильтры</h2>
                        <select name="city">
                            <option value="" disabled selected>Город</option>
                            <option value="Москва" {{ params.city == 'Москва' ? 'selected="selected"' }}>Москва</option>
                        </select>
                        <select name="area">
                            <option value="" disabled selected>Округ</option>
                            <option value="" selected>Все округа</option>
                            <option value="ЦАО" {{ params.area == 'ЦАО' ? 'selected="selected"' }}>ЦАО</option>
                            <option value="СВАО" {{ params.area == 'СВАО' ? 'selected="selected"' }}>СВАО</option>
                            <option value="ВАО" {{ params.area == 'ВАО' ? 'selected="selected"' }}>ВАО</option>
                            <option value="ЮВАО" {{ params.area == 'ЮВАО' ? 'selected="selected"' }}>ЮВАО</option>
                            <option value="ЮАО" {{ params.area == 'ЮАО' ? 'selected="selected"' }}>ЮАО</option>
                            <option value="ЮЗАО" {{ params.area == 'ЮЗАО' ? 'selected="selected"' }}>ЮЗАО</option>
                            <option value="ЗАО" {{ params.area == 'ЗАО' ? 'selected="selected"' }}>ЗАО</option>
                            <option value="CЗАО" {{ params.area == 'CЗАО' ? 'selected="selected"' }}>CЗАО</option>
                            <option value="CАО" {{ params.area == 'CАО' ? 'selected="selected"' }}>CАО</option>
                        </select>
                        <input type="text" placeholder="Улица" id="street" name="street" value="{{ params.street }}">
                        <br />
                        {#<select name="format">#}
                        {#<option value="" disabled selected>Формат</option>#}
                        {#<option value="" selected>Все форматы</option>#}
                        {#<option value="3x6" {{ params.format == '3x6' ? 'selected="selected"' }}>3х6</option>#}
                        {#<option value="small" {{ params.format == 'small' ? 'selected="selected"' }}>Малые форматы</option>#}
                        {#<option value="big" {{ params.format == 'big' ? 'selected="selected"' }}>Большие форматы</option>#}
                        {#<option value="citybord" {{ params.format == 'citybord' ? 'selected="selected"' }}>Ситиборды</option>#}
                        {#</select>#}
                        {#<br />#}
                        {#<select>#}
                        {#<option value="" disabled selected>Тип</option>#}
                        {#<option value="" selected>Все типы</option>#}
                        {#<option value="1">3х6</option>#}
                        {#<option value="2">Малые</option>#}
                        {#</select>#}
                        <div class="check-group">
                            Формат 3х6
                            <div class="check {{ params.formatM == 1 ? 'active' : '' }}"></div>
                            <input type="hidden" name="formatM" value="{{ params.formatM == 1 ? 1 : 0 }}">
                        </div>
                        <div class="check-group">
                            Малые форматы
                            <div class="check {{ params.formatS == 1 ? 'active' : '' }}"></div>
                            <input type="hidden" name="formatS" value="{{ params.formatS == 1 ? 1 : 0 }}">
                        </div>
                        <div class="check-group">
                            Большие форматы
                            <div class="check {{ params.formatL == 1 ? 'active' : '' }}"></div>
                            <input type="hidden" name="formatL" value="{{ params.formatL == 1 ? 1 : 0 }}">
                        </div>
                        <div class="check-group">
                            Ситиборды
                            <div class="check {{ params.formatSB == 1 ? 'active' : '' }}"></div>
                            <input type="hidden" name="formatSB" value="{{ params.formatSB == 1 ? 1 : 0 }}">
                        </div>

                        <div class="check-group">
                            Свет
                            <div class="check {{ params.light == 1 ? 'active' : '' }}"></div>
                            <input type="hidden" name="light" value="{{ params.light == 1 ? 1 : 0 }}">
                        </div>
                        <div class="slider-group">
                            <span class="caption">GRP</span>
                            <span id="grp-amount" class="val"></span>
                            <span class="slider" id="grp"></span>
                            <input type="hidden" name="grp-min" id="grp-min" value="{{ params.grpMin != null ? params.grpMin : 0 }}">
                            <input type="hidden" name="grp-max" id="grp-max" value="{{ params.grpMax != null ? params.grpMax : 3 }}">
                        </div>
                        <div class="slider-group">
                            <span class="caption">OTS</span>
                            <span id="ots-amount" class="val"></span>
                            <span class="slider"  id="ots"></span>
                            <input type="hidden" name="ots-min" id="ots-min" value="{{ params.otsMin != null ? params.otsMin : 0 }}">
                            <input type="hidden" name="ots-max" id="ots-max" value="{{ params.otsMax != null ? params.otsMax : 500 }}">
                        </div>
                        <div class="slider-group">
                            <span class="caption">Стоимость</span>
                            <span id="price-amount" class="val"></span>
                            <span class="slider" id="price"></span>
                            <input type="hidden" name="price-min" id="price-min" value="{{ params.priceMin != null ? params.priceMin : 0 }}">
                            <input type="hidden" name="price-max" id="price-max" value="{{ params.priceMax != null ? params.priceMax : 1000 }}">
                        </div>
                        <br/>
                        <br/>
                        <div style="text-align: right">
                        <span class="btn" id="form-submit">
                            Найти
                        </span>
                        </div>
                        <br/>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-9">
            <div id="submap" style="margin-top: 13px; position: relative">
                <div id="gray"></div>
                <img src="{{ asset('bundles/app/images/loader.gif') }}" id="loader-map">
                <div id="map"></div>
                <div class="icheck">
                    Показать <b>Все</b>
                    {% if app.request.query.all.my is defined and app.request.query.all.my == 1 %}
                        <a href="?my=0"><img src="{{ asset('bundles/app/images/icheck-act.png') }}" style="margin-top: -5px;"></a>
                    {% else %}
                        <a href="?my=1"><img src="{{ asset('bundles/app/images/icheck.png') }}" style="margin-top: -5px;"></a>
                    {% endif %}
                    <b>Выбранные</b>
                </div>
            </div>
            <br />
            <br />
        </div>
    </div>
    <div class="row" id="basket">
        <div class="col-sm-12">
            <div id="basket-table">
                <table class="table">
                    <tr>
                        <th>№</th>
                        <th>Город</th>
                        <th>Округ</th>
                        <th>Адрес</th>
                        <th>Гид</th>
                        <th>Период</th>
                        <th>Сторона</th>
                        <th>Формат</th>
                        <th>Тип</th>
                        <th>Свет</th>
                        <th>GRP</th>
                        <th>OTS</th>
                        <th>Стоимость
                            без учёта
                            налогов</th>
                        <th>Налог</th>
                        <th>Стоимость
                            с учётом
                            налогов</th>
                        <th>
                            Стоимость
                            монтажа
                            с учётом
                            налогов
                        </th>
                        <th>Фото</th>
                        <th>Карта</th>
                        <th>Статус</th>
                        <th></th>
                    </tr>
                    {% if lists %}
                        {% set j = 0 %}
                        {% for k,l in lists %}
                            {% set j = j+1 %}
                            <tr>
                                <td>{{ j }}</td>
                                <td>{{ l.city }}</td>
                                <td>{{ l.area }}</td>
                                <td>{{ l.adrs }}</td>
                                <td>{{ l.gid }}</td>
                                <td>{{ l.monthStr }}</td>
                                <td>{{ l.side }}</td>
                                <td>{{ l.format }}</td>
                                <td>{{ l.type }}</td>
                                <td>{{ l.light == 1 ? 'да' : 'нет' }}</td>
                                <td>{{ l.grp }}</td>
                                <td>{{ l.ots|number_format(1, '.', ',') }}</td>
                                <td>{{ l.price }}</td>
                                <td>{{ l.taxType }}</td>
                                <td>{{ l.price }}</td>
                                <td>{{ l.priceDeploy }}</td>
                                <td style="text-align: center">
                                    <a href="{{ l.img }}" class="fancybox" data-fancybox-group="gallery">
                                        <img src="{{ asset('bundles/app/images/img-icon.png') }}" class="icon">
                                    </a>
                                </td>
                                <td style="text-align: center"><img src="{{ asset('bundles/app/images/adrs-icon.png') }}" class="icon"></td>
                                <td>Свободно</td>
                                <td style="text-align: center">
                                    <img src="{{ asset('bundles/app/images/del-icon.png') }}" class="icon removeBasket" data-id="{{ k }}" title="Удалить элемент">
                                </td>
                            </tr>
                        {% endfor %}
                        <tr class="bottom-line">
                            <td colspan="10" style="background: #FFF; border: 0"></td>
                            <td style="background: #FFF; border: 0" colspan="2">
                                <b class="green">ИТОГО:</b>
                            </td>
                            <td style="background: none;">
                                <b>{{ fullPrice }}&nbsp;р.</b>
                            </td>
                            <td style="background: none;">
                                <b>{{ fullPrice }}&nbsp;р.</b>
                            </td>
                            <td style="background: none;"></td>
                            <td colspan="3" style="text-align: right; color: #CC0000; background: none; border: 0;">
                                <a href="{{ path('basket_clear') }}" style="color: #CC0000">Удалить все</a>
                            </td>
                        </tr>
                    {% endif %}
                </table>
                {% if lists %}
                    <div style="color: #555555; font-size: 13px" class="table-info">
                        <b>ПОКАЗАТЕЛИ ЭФФЕКТИВНОСТИ</b>
                        <div style="font-size: 7px;">&nbsp;</div>
                        <div>
                            <label>Средняя стоимость размещения за поверхность:</label>
                            {{ price |number_format(0, '.', ',') }} р.
                        </div>
                        <div>
                            <label>Процентное соотношение сторон A/B в программе:</label>
                            {{ side }}
                        </div>
                        <div>
                            <label>Средний показатель GRP за программу:</label>
                            {{ grp }}
                        </div>
                        <div>
                            <label>Средний показатель OTS за программу:</label>
                            {{ ots }}
                        </div>
                        <div>
                            <label>CРТ за программу:</label>
                            {% if price != 0 %}
                                {{ ( ots / price )|number_format(3, '.', ',') }}
                            {% else %}
                                0
                            {% endif %}
                        </div>
                        <div>
                            <label>Количество поверхностей:</label>
                            {{ count }}
                        </div>
                    </div>

                    <br />
                    <br />
                    <div style="text-align: right">
                        <div style="margin-top: -125px; margin-bottom: 100px">
                    <span class="btn-pink" style="font-size: 16px" data-toggle="modal" data-target=".bs-example-modal-sm">
                            ПОЛУЧИТЬ МЕДИА ПЛАН
                    </span>
                        </div>
                    </div>
                {% endif %}
            </div>
            <br />
            <br />
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/app/kladrapi/jquery.kladr.min.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function(){

            $('#form-submit').click(function(){
                $('#form').submit();
            });

            $('#popover').popover({
                placement: 'left',
                title: 'Подсказка',
                content: 'Чтобы посмотреть сразу несколько поверхностей выделите их на карте. Для этого первым кликом на карте установите левый верхний угол, в вторым кликом - правый нижний угол выделяемой области.'
            });

            var map;
            var objects;
            var clusterer = null;
            ym.ready(init);
            function init(){
                map = new ym.Map('map', {
                    {% if app.request.query.all.my is defined and app.request.query.all.my == 1 %}
                    center: [55.755381, 37.619044],
                    zoom: 9,
                    {% else %}
                    {% if thisBanner != null %}
                    center: [{{ thisBanner.latitude }}, {{ thisBanner.longitude }}],
                    zoom: 15,
                    {% elseif pos.x != null and pos.y != null %}
                    center: [{{ pos.x }}, {{ pos.y }}],
                    zoom: 14,
                    {% else %}
                    center: [55.755381, 37.619044],
                    zoom: 9,
                    {% endif %}
                    {% endif %}
                    controls: ['typeSelector','zoomControl']
                });
                var filter =
                        'id={{ id }}'+
                        '&city={{ params.city }}'+
                        '&street={{ params.street }}'+
                        '&area={{ params.area }}'+
                        '&formatS={{ params.formatS }}'+
                        '&formatM={{ params.formatM }}'+
                        '&formatL={{ params.formatL }}'+
                        '&formatSB={{ params.formatSB }}'+
                        '&type='+
                        '&light={{ params.light }}'+
                        '&grpMin={{ params.grpMin }}'+
                        '&grpMax={{ params.grpMax }}'+
                        '&otsMin={{ params.otsMin }}'+
                        '&otsMax={{ params.otsMax }}'+
                        '&priceMin={{ params.priceMin }}'+
                        '&priceMax={{ params.priceMax }}';
                objects = getObjects(filter);
            }

            function orderRefresh(){
                $.ajax({
                    url: Routing.generate('order_price'),
                    method: 'GET',
                    success: function(msg){
                        $('#order-btn').html('Заказ на сумму '+msg+' р.');
                        $('#order-btn').css('display','block');
                    }
                });
            }

            function getObjects(filter){
                {% if app.request.query.all.my is defined and app.request.query.all.my == 1 %}
                var url = '{{ path('get_my_objects') }}';
                {% else %}
                var url = '{{ path('get_objects') }}';
                {% endif %}
                $.ajax({
                    url: url,
                    processData: false,
                    method: 'POST',
                    data: filter,
                    success: function(msg){
                        objects = msg.data;
                        var placemarks = [];
                        var j = 0;
                        for (var i in objects) {
                            placemarks[j] = new ym.GeoObject({
                                        geometry: {
                                            type: "Point",
                                            coordinates: objects[i].coords //Массив
                                        },
                                        properties:{
                                            hintContent: objects[i].alt, //Подсказка
//                                    balloonContent: objects[i].content
                                            balloonContent : '',
                                            itemId: objects[i].id

                                        }
                                    },{
                                        balloonPanelMaxMapArea: 0,
                                        openEmptyBalloon: true,
                                        iconLayout: 'default#image',
                                        iconImageHref: '/bundles/app/images/mapIcon3.png',
                                        iconImageSize: [16, 16]
                                    }
                            );

                            j ++ ;
                        }
                        var clusterer = new ym.Clusterer({
                            preset: 'islands#darkGreenClusterIcons'
                        });
                        clusterer.events
                            // Можно слушать сразу несколько событий, указывая их имена в массиве.
                                .add(['mouseenter', 'mouseleave'], function (e) {
                                    var target = e.get('target'),
                                            type = e.get('type');
                                    if (typeof target.getGeoObjects != 'undefined') {
                                        // Событие произошло на кластере.
                                        if (type == 'mouseenter') {
                                            target.options.set('preset', 'islands#greenClusterIcons');
                                        } else {
                                            target.options.set('preset', 'islands#darkGreenClusterIcons');
                                        }
                                    }
                                });

                        clusterer.events.add('balloonopen',function(e){
                            var target = e.get('target');
                            console.log(s = target);
                            if (typeof target.getGeoObjects == 'undefined') {
                                // Событие произошло на точке.
                                $.ajax({
                                    url: Routing.generate('get_more_info'),
                                    data: 'itemId='+ s.properties.get('itemId'),
                                    method: 'POST',
                                    success: function(msg){
                                        target.properties.set('balloonContent', msg);
                                    },
                                    error: function(){
                                        target.properties.set('balloonContent', 'Не удалось загрузить контент');
                                    }
                                });
                            }
                        });
                        clusterer.add(placemarks);
                        map.geoObjects.add(clusterer);
                        $('#loader-map').css('display','none');
                        $('#gray').css('display','none');
                    }
                });
            }


            $('#excel').click(function () {
                var area = $('#area').val();
                var format = $('#format').val();
                var type = $('#type').val();
                var light = $('#light').val();
                var grpMin = $("#grp").slider("values", 0) / 100;
                var grpMax = $("#grp").slider("values", 1) / 100;
                var otsMin = $("#ots").slider("values", 0);
                var otsMax = $("#ots").slider("values", 1);

                var filter =
                        'street='+street+
                        'area='+area+
                        '&format='+format+
                        '&type='+type+
                        '&light='+light+
                        '&grpMin='+grpMin+
                        '&grpMax='+grpMax+
                        '&otsMin='+otsMin+
                        '&otsMax='+otsMax;
                var url = '{{ path('all_export') }}?'+filter;
                window.location.href = url;
            });

            $('#street' ).kladr({
                token: '541ee4ac7c52392c7d8b457e',
                key: '181d5e2c44994c335e5e81e9ae46e79a67b6b495',
                type: $.kladr.type.street,
                parentType: $.kladr.type.city,
                parentId: '7700000000000',
                select: function(obj){
                    $('#street').val(obj.name);
                }
            });

            $('#map').on('click','input.addBasket', function(){
                var item = $(this)
                $.ajax({
                    url: Routing.generate('basket_add', {'itemId': $(this).attr('data-id'), 'month': $(this).attr('data-month')}),
                    method: 'POST',
                    success: function(msg){
                        $('#basket-table').html(msg);
                        $('.thrumb').notify("позиция добавлена в медиаплан",{ className: 'success', autoHideDelay: 500, showDuration: 200, hideDuration: 200, arrowSize: 1, position: "bottom"  });
                        orderRefresh();
                    }
                });
            });

            $('#basket-table').on('click','.removeBasket', function(){
                var item = $(this)
                $.ajax({
                    url: Routing.generate('basket_remove', {'itemId': $(this).attr('data-id') }),
                    method: 'POST',
                    success: function(msg){
                        $('#basket-table').html(msg);
                        $.notify("позиция удалена",{ className: 'success', autoHideDelay: 500, showDuration: 200, hideDuration: 200, arrowSize: 1, position: "bottom left"  });
                        orderRefresh();
                    }
                });
            });


            $( "#grp" ).slider({
                range: true,
                min: 0,
                max: 300,
                values: [ {{ params.grpMin != null ? params.grpMin*100 : 0 }}, {{ params.grpMax != null ? params.grpMax*100 : 300 }} ],
                slide: function( event, ui ) {
                    $( "#grp-amount" ).html( "" + ui.values[ 0 ]/100 + " - " + ui.values[ 1 ]/100 );
                    $( "#grp-min" ).val(ui.values[ 0 ]/100);
                    $( "#grp-max" ).val(ui.values[ 1 ]/100);
                }
            });
            $( "#grp-amount" ).html( "" + $( "#grp" ).slider( "values", 0 )/100 +
            " - " + $( "#grp" ).slider( "values", 1 )/100 );

            $( "#ots" ).slider({
                range: true,
                min: 0,
                max: 500,
                values: [ {{ params.otsMin != null ? params.otsMin : 0 }}, {{ params.otsMax != null ? params.otsMax : 500 }} ],
                slide: function( event, ui ) {
                    $( "#ots-amount" ).html( "" + ui.values[ 0 ] + " - " + ui.values[ 1 ] );
                    $( "#ots-min" ).val(ui.values[ 0 ]);
                    $( "#ots-max" ).val(ui.values[ 1 ]);
                }
            });
            $( "#ots-amount" ).html( "" + $( "#ots" ).slider( "values", 0 ) +
            " - " + $( "#ots" ).slider( "values", 1 ) );

            $( "#price" ).slider({
                range: true,
                min: 0,
                max: 1000,
                values: [ {{ params.priceMin != null ? params.priceMin : 0 }}, {{ params.priceMax != null ? params.priceMax : 1000 }} ],
                slide: function( event, ui ) {
                    $( "#price-amount" ).html( "" + ui.values[ 0 ] + " т.р. - " + ui.values[ 1 ] + ' т.р.' );
                    $( "#price-min" ).val(ui.values[ 0 ]);
                    $( "#price-max" ).val(ui.values[ 1 ]);
                }
            });
            $( "#price-amount" ).html( "" + $( "#price" ).slider( "values", 0 ) +
            " т.р. - " + $( "#price" ).slider( "values", 1 ) + ' т.р.' );

        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/app/kladrapi/jquery.kladr.css') }}" rel="stylesheet" media="all">
    <style>
        .container{
            min-width: 800px;
            max-width: 1200px;
            margin: 0 auto;
        }
        .thrumb{
            width: 300px;
            border-radius: 10px;
        }
        .map-setting tr td:first-child{
            width: 150px;
            padding-left: 20px;
        }
        .map-title{
            font-size: 16px;
            padding: 5px;
            padding-bottom: 15px;
            padding-top: 15px;
        }
        .map-month{
            transform: rotate(270deg);
            /*transform-origin: left top 0;*/
            padding-bottom: 5px;
        }
        #submap{
            display: inline-block;
            box-shadow: 0 1px 16px 0 rgba(1, 1, 1, 0.51);
            width: 100%;
        }
        #map{
            -moz-border-radius: 14px 14px 14px 14px; /* Firefox */
            -webkit-border-radius: 14px 14px 14px 14px; /* Safari, Chrome */
            -khtml-border-radius: 14px 14px 14px 14px; /* KHTML */
            border-radius: 14px 14px 14px 14px; /* CSS3 */
            overflow: hidden;
            position: relative;
            -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
            width: 100%;
            height: 695px;
        }
        /*transform: rotate(-40deg);*/
        .notifyjs-wrapper{
            z-index: 1001;
        }
    </style>
{% endblock %}