{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12" style="  margin-top: -20px;">
            <div style="float: left">
                <h2 class="green">Медиаплан на карте</h2>
            </div>
            <img src="{{ asset('bundles/app/images/tooltip.png') }}" style="margin-left: 130px;width: 550px; opacity: 0.8;z-index: 999;position: absolute; top: 75px"/>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div id="submap" style="margin-top: 13px; position: relative">
                <div id="gray"></div>
                <div id="dinamys-popups" style="display: none"></div>
                <img src="{{ asset('bundles/app/images/loader.gif') }}" id="loader-map">
                <div id="map"></div>
                <div class="icheck">
                    Показать <b>Все</b>
                    {% if app.request.query.all.my is defined and app.request.query.all.my == 1 %}
                        <a href="?my=0"><img src="{{ asset('bundles/app/images/icheck-act.png') }}" style="margin-top: -5px;"></a>
                    {% else %}
                        <a href="?my=1"><img src="{{ asset('bundles/app/images/icheck.png') }}" style="margin-top: -5px;"></a>
                    {% endif %}
                    <b>Выбранные</b>
                </div>
            </div>
            <br />
            <br />
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/app/kladrapi/jquery.kladr.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/app/pieChartClusterer/pie-chart-clusterer.min.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function(){

            $('#form-submit').click(function(){
                $('#form').submit();
            });

            $('#popover').popover({
                placement: 'left',
                title: 'Подсказка',
                content: 'Чтобы посмотреть сразу несколько поверхностей выделите их на карте. Для этого первым кликом на карте установите левый верхний угол, в вторым кликом - правый нижний угол выделяемой области.'
            });

            var map;
            var objects;
            var clusterer = null;
            ymaps.ready(init);
            function init(){
                map = new ymaps.Map('map', {
                    {% if pos.x != null and pos.y != null %}
                    center: [{{ pos.x }}, {{ pos.y }}],
                    {% if (street) %}
                    zoom: 15,
                    {% else %}
                    zoom: 12,
                    {% endif %}
                    {% else %}
                    center: [55.755381, 37.619044],
                    zoom: 11,
                    {% endif %}
                    controls: ['zoomControl']
                });
                map.events.add('click', function (e) {
                    var target = e.get('target')
                    target.balloon.close();
                });
                ymaps.modules.require(['PieChartClusterer'], function (PieChartClusterer) {

                    clusterer = new PieChartClusterer({margin: 10});
                    objects = getObjects();
//                    console.log(objects);
//                    clusterer.add(objects);
//                    myMap.geoObjects.add(clusterer);

                });
            }

            function orderRefresh(){
                $.ajax({
                    url: Routing.generate('order_price'),
                    method: 'GET',
                    success: function(msg){
                        $('#order-btn').html('Выбрано на сумму '+msg+' р.');
                        $('#order-btn').css('display','block');
                    }
                });
            }

            function getObjects(){
                var url = '{{ path('get_objects_mediaplan') }}';
                $.ajax({
                    url: url,
                    processData: false,
                    method: 'GET',
                    data: 'banners={{ get }}',
                    success: function(msg){
                        objects = msg.data;
                        var placemarks = [];
                        var j = 0;

                        if ( objects != null && objects.length != 0 ) {
                            for (var i in objects) {
                                if (objects[i].hot != '0' && objects[i].hot != 0 && objects[i].hot != null) {
                                    var img = 'islands#darkOrangeDotIcon';
                                } else {
                                    if (objects[i].format == '3x6') {
                                        var img = 'islands#blueDotIcon';
                                    } else {
                                        if (objects[i].format == 'big') {
                                            var img = 'islands#darkGreenDotIcon';
                                        } else {
                                            if (objects[i].format == 'small') {
                                                var img = 'islands#brownDotIcon';
                                            } else {
                                                var img = 'islands#violetDotIcon';
                                            }
                                        }
                                    }
                                }
                                placemarks[j] = new ymaps.GeoObject({
                                            geometry: {
                                                type: "Point",
                                                coordinates: objects[i].coords //Массив
                                            },
                                            properties: {
                                                hintContent: objects[i].alt, //Подсказка
//                                    balloonContent: objects[i].content
                                                balloonContent: '',
                                                itemId: objects[i].id

                                            }
                                        }, {
                                            balloonPanelMaxMapArea: 0,
                                            openEmptyBalloon: true,
                                            preset: img,
//                                            iconLayout: 'default#image',
//                                            iconImageHref: img,
//                                            iconImageSize: [16, 16],

                                        }
                                );

                                j++;
                            }
//                            var clusterer = new ym.Clusterer({
//                                preset: 'islands#darkGreenClusterIcons',
//                                clusterOpenBalloonOnClick: true,
//                                maxZoom: 0
//                            });


//                        s.getData().cluster.properties.getAll().geoObjects[1]
                            clusterer.events.add('balloonopen',function(e){
                                var target = e.get('target');
                                if (typeof target.getData != 'undefined') {
//                                console.log('Кластер');
//                                console.log(s=target);
                                    // Кластер
                                    var objs = target.getData().cluster.properties.getAll().geoObjects;
                                    var str = '';
                                    for ( i = 0 ; i < objs.length ; i ++ ){
                                        str += objs[i].properties.get('itemId')+'|';
                                    }
//                                console.log('dates =>' +str);
                                    $.ajax({
                                        url: Routing.generate('get_more_info'),
                                        data: 'items='+str,
                                        method: 'POST',
                                        success: function(msg){
//                                        console.log('ajax success');
//                                        target.properties.set('balloonContent', msg);
                                            for ( i = 0 ; i < msg.data.length ; i++ ){
                                                objs[i].properties.set('name', msg.data[i].title);
                                                objs[i].properties.set('clusterCaption', msg.data[i].title);
                                                objs[i].properties.set('balloonContentBody', msg.data[i].body);
                                            }
                                        },
                                        error: function(){
                                            target.properties.set('balloonContent', 'Не удалось загрузить контент');
                                            console.log('ajax error');
                                        }
                                    });
//                                console.log('ajax closed');
                                }else{
//                                console.log('Точка');
//                                console.log(s=target);
                                    $.ajax({
                                        url: Routing.generate('get_more_info'),
                                        data: 'itemId='+ target.properties.get('itemId'),
                                        method: 'POST',
                                        success: function(msg){
//                                            console.log('ajax');
                                            target.properties.set('balloonContent', msg);
                                        },
                                        error: function(){
//                                            console.log('ajax error');
                                            target.properties.set('balloonContent', 'Не удалось загрузить контент');
                                        }
                                    });
//                                console.log('close ajax');
                                }
                            });
                            clusterer.add(placemarks);
                            map.geoObjects.add(clusterer);



                            $('#loader-map').css('display','none');
                            $('#gray').css('display','none');

                        }else{
                            $('#gray').css('display','block');
                            $('#loader-map').css('display','none');
                            $('#dinamys-popups').css('display','block');
                            $('#dinamys-popups').html('<div class="flashbag-success-2"><span>Не найдено предложений,<br />удовлетворяющих Вашему запросу</span></div>');

                        }
                    }
                });
            }


            $('#excel').click(function () {
                var area = $('#area').val();
                var format = $('#format').val();
                var type = $('#type').val();
                var light = $('#light').val();
                var grpMin = $("#grp").slider("values", 0) / 100;
                var grpMax = $("#grp").slider("values", 1) / 100;
                var otsMin = $("#ots").slider("values", 0);
                var otsMax = $("#ots").slider("values", 1);

                var filter =
                        'street='+street+
                        'area='+area+
                        '&format='+format+
                        '&type='+type+
                        '&light='+light+
                        '&grpMin='+grpMin+
                        '&grpMax='+grpMax+
                        '&otsMin='+otsMin+
                        '&otsMax='+otsMax;
                var url = '{{ path('all_export') }}?'+filter;
                window.location.href = url;
            });

            $('#street' ).kladr({
                token: '541ee4ac7c52392c7d8b457e',
                key: '181d5e2c44994c335e5e81e9ae46e79a67b6b495',
                type: $.kladr.type.street,
                parentType: $.kladr.type.city,
                parentId: '7700000000000',
                select: function(obj){
                    $('#street').val(obj.name);
                }
            });

            $('#map').on('click','input.addBasket', function(){
                var item = $(this)
                $.ajax({
                    url: Routing.generate('basket_add', {'itemId': $(this).attr('data-id'), 'month': $(this).attr('data-month')}),
                    method: 'POST',
                    success: function(msg){
                        $('#basket-table').html(msg);
                        if ( item.prop('checked') == true ){
                            $('.thrumb').notify("позиция добавлена в медиаплан",{ className: 'success', autoHideDelay: 1200, position: "bottom",  showDuration: 0,  hideDuration: 0  });
                        }else{
                            $('.thrumb').notify("позиция удалена из медиаплана",{ className: 'success', autoHideDelay: 1200, position: "bottom",  showDuration: 0,  hideDuration: 0  });
                        }
                        orderRefresh();
                    }
                });
            });

            $('#basket-table').on('click','.removeBasket', function(){
                var item = $(this)
                $.ajax({
                    url: Routing.generate('basket_remove', {'itemId': $(this).attr('data-id') }),
                    method: 'POST',
                    success: function(msg){
                        var item2 = item.parent().parent().next();
                        item2 = item2.attr('class');
                        $('#basket-table').html(msg);
                        console.log(item2);
                        item2 = $('.'+item2);
                        console.log(item2);
                        item2.notify("позиция удалена",{ className: 'success', autoHideDelay: 1200, position: "bottom right",  showDuration: 0,  hideDuration: 0  });
                        orderRefresh();
                    }
                });
            });
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/app/kladrapi/jquery.kladr.css') }}" rel="stylesheet" media="all">
    <style>
        .container{
            min-width: 800px;
            max-width: 1200px;
            margin: 0 auto;
        }
        .thrumb{
            width: 300px;
            border-radius: 10px;
        }
        .map-setting tr td:first-child{
            width: 150px;
            padding-left: 20px;
        }
        .map-title{
            font-size: 16px;
            padding: 5px;
            padding-bottom: 15px;
            padding-top: 15px;
        }
        .map-month{
            transform: rotate(270deg);
            /*transform-origin: left top 0;*/
            padding-bottom: 5px;
        }
        #submap{
            display: inline-block;
            box-shadow: 0 1px 16px 0 rgba(1, 1, 1, 0.51);
            width: 100%;
        }
        #map{
            -moz-border-radius: 14px 14px 14px 14px; /* Firefox */
            -webkit-border-radius: 14px 14px 14px 14px; /* Safari, Chrome */
            -khtml-border-radius: 14px 14px 14px 14px; /* KHTML */
            border-radius: 14px 14px 14px 14px; /* CSS3 */
            overflow: hidden;
            position: relative;
            -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
            width: 100%;
            height: 760px;
        }
        /*transform: rotate(-40deg);*/
        .notifyjs-wrapper{
            z-index: 1001;
        }
    </style>
{% endblock %}