{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    {% for r in reviews %}
        <div style="padding: 10px; border-bottom: 2px solid #CCC;">
            <table style="width: 100%">
                <tr>
                    {% if r.image | length > 0 %}
                        <td style="width: 300px">
                            <a class="fancybox" href="{{ r.image.path }}"><img src="{{ r.image.path }}" style="max-width: 300px"></a>
                        </td>
                        <td style="vertical-align: top">
                            <h2>{{ r.title }}</h2>
                            {{ r.body }}
                        </td>
                    {% else %}
                        <td colspan="2" style="vertical-align: top">
                            <h2>{{ r.title }}</h2>
                            {{ r.body }}
                        </td>
                    {% endif %}
                </tr>
            </table>
        </div>
    {% endfor %}
{% endblock %}