{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12" style="  margin-top: -20px;">
            <div style="float: left">
                <h2 class="green">Поиск щитов по параметрам</h2>
            </div>
        </div>
    </div>
    <br />
    <form id="search-form" method="GET">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <select name="city">
                    <option value="null" disabled>Город</option>
                    <option>Москва</option>
                </select>
            </div>
            <div class="col-sm-4">
                <select name="area">
                    <option value="" disabled selected>Округ</option>
                    <option value="" selected>Все округа</option>
                    <option value="ЦАО">ЦАО</option>
                    <option value="СВАО">СВАО</option>
                    <option value="ВАО">ВАО</option>
                    <option value="ЮВАО">ЮВАО</option>
                    <option value="ЮАО">ЮАО</option>
                    <option value="ЮЗАО">ЮЗАО</option>
                    <option value="ЗАО">ЗАО</option>
                    <option value="CЗАО">CЗАО</option>
                    <option value="CАО">CАО</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <h2  class="green">Период</h2>
                <div>
                    с&nbsp;&nbsp;
                    <select class="mini">
                        <option value="1" >Янв</option>
                        <option value="2" >Фев</option>
                        <option value="3" >Мар</option>
                        <option value="4" >Апр</option>
                        <option value="5" >Май</option>
                        <option value="6" >Июн</option>
                        <option value="7" >Июл</option>
                        <option value="8" >Авг</option>
                        <option value="9" >Сен</option>
                        <option value="10">Окт</option>
                        <option value="11">Ноя</option>
                        <option value="12">Дек</option>
                    </select>
                    &nbsp;&nbsp;по&nbsp;&nbsp;
                    <select class="mini">
                        <option value="1" >Янв</option>
                        <option value="2" >Фев</option>
                        <option value="3" >Мар</option>
                        <option value="4" >Апр</option>
                        <option value="5" >Май</option>
                        <option value="6" >Июн</option>
                        <option value="7" >Июл</option>
                        <option value="8" >Авг</option>
                        <option value="9" >Сен</option>
                        <option value="10">Окт</option>
                        <option value="11">Ноя</option>
                        <option value="12">Дек</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <h2 class="green">Форматы конструкций</h2>
                <div class="check-group">
                    Формат 3х6
                    <div class="check active"></div>
                    <input type="hidden" name="formatM" value="1">
                </div>
                <div class="check-group">
                    Малые форматы
                    <div class="check active"></div>
                    <input type="hidden" name="formatS" value="1">
                </div>
                <div class="check-group">
                    Большие форматы
                    <div class="check active"></div>
                    <input type="hidden" name="formatL" value="1">
                </div>
                <div class="check-group">
                    Ситиборды
                    <div class="check active"></div>
                    <input type="hidden" name="formatSB" value="1">
                </div>
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <h2 class="green">Дополнительно</h2>
                <div class="check-group">
                    Только щиты с подстветкой
                    <div class="check"></div>
                    <input type="hidden" name="isLight" value="0">
                </div>
                {#<div class="check-group">#}
                    {#Только поверхности с картами#}
                    {#<div class="check"></div>#}
                    {#<input type="hidden" name="isMap" value="0">#}
                {#</div>#}
                {#<div class="check-group">#}
                    {#Исключить призмы и скроллеры#}
                    {#<div class="check"></div>#}
                    {#<input type="hidden" name="isScroll" value="0">#}
                {#</div>#}
                {#<div class="check-group" id="package">#}
                    {#пакетные предложения#}
                    {#<div class="check active"></div>#}
                    {#<input type="hidden" name="package" value="1">#}
                {#</div>#}
                <br />
                <br />
                <input type="text" placeholder="GID конструкции" name="gid" >
            </div>
            <div class="col-sm-4">
                <div class="check-group">
                    Сторона А
                    <div class="check active"></div>
                    <input type="hidden" name="sideA" value="1">
                </div>
                <div class="check-group" id="packets">
                    Сторона B
                    <div class="check active"></div>
                    <input type="hidden" name="sideB" value="1">
                </div>
                <br />
                <br />
                <div class="slider-group">
                    <span class="caption" style="float: left; margin-top: 8px;  width: 150px;">GRP</span>
                    <span id="grp-amount" class="val"></span>
                    <span class="slider" id="grp" style="float: right"></span>
                    <input type="hidden" name="grp-min" id="grp-min" value="0">
                    <input type="hidden" name="grp-max" id="grp-max" value="3">
                </div>
                <br />
                <div class="slider-group">
                    <span class="caption" style="float: left; margin-top: 8px;  width: 150px;">OTS</span>
                    <span id="ots-amount" class="val"></span>
                    <span class="slider"  id="ots" style="float: right"></span>
                    <input type="hidden" name="ots-min" id="ots-min" value="0">
                    <input type="hidden" name="ots-max" id="ots-max" value="500">
                </div>
                <br />
                <div class="slider-group">
                    <span class="caption" style="float: left; margin-top: 8px;  width: 150px;">Стоимость</span>
                    <span id="price-amount" class="val"></span>
                    <span class="slider" id="price" style="float: right"></span>
                    <input type="hidden" name="price-min" id="price-min" value="0">
                    <input type="hidden" name="price-max" id="price-max" value="999">
                </div>
                <br/>
                <div style="text-align: right">
                    <span class="btn" id="search-btn">Найти</span>
                </div>
            </div>
        </div>
    </form>
    <br />
    <br />
    <table class="table" style="margin-left: -10px;">
        <tr>
            <th></th>
            <th>№</th>
            <th>gid</th>
            <th>Округ</th>
            <th>Адрес</th>
            <th>Сторона</th>
            <th>Формат</th>
            <th>GRP</th>
            <th>OTS</th>
            <th>Стоимость без налогов</th>
            <th>Налог</th>
            <th>Стоимость с налогом</th>
        </tr>
        {% set j = 0 %}
        {% for k,l in banners %}
            {% set j = j+1 %}
            <tr class="s-{{ k }}">
                <td>
                    {% if l.hot == 1 %}
                        <img src="{{ asset('bundles/app/images/fire.gif') }}"  style="height: 24px"/>
                    {% endif %}
                </td>
                <td>{{ l.id }}</td>
                <td>{{ l.gid }}</td>
                <td>{{ l.area }}</td>
                <td><a  class="green open" href="#" data-id="{{ l.id }}" data-toggle="modal" data-target=".search_get_more">{{ l.adrs }}</a></td>
                <td>{{ l.side }}</td>
                <td>{{ l.format }}</td>
                <td>{{ l.grp }}</td>
                <td>{{ l.ots|number_format(1, '.', ',') }}</td>
                <td>{{ l.price |number_format(1, '.', '') }}</td>
                <td>{{ l.taxType }}</td>
                <td>{{ l.price2 |number_format(1, '.', '') }}</td>
            </tr>
        {% endfor %}
    </table>
    <div class="navigation">
        {{ knp_pagination_render(banners) }}
    </div>
    <br />
    <br />
    <div class="row" id="basket">
        <div class="col-sm-12">
            <div id="basket-table">
                {{ include('AppBundle:Basket:table.html.twig') }}
            </div>
            <br />
            <br />
        </div>
    </div>
    <br />
    <br />
    {#<div class="row">#}
        {#<div class="col-sm-2">#}
            {#<div class="box package">#}
                {#<div class="package-img">#}
                    {#<img src="">#}
                {#</div>#}
                {#<div class="package-setting">#}
                    {#Количество конструкций: 85#}
                    {#GRP: 1500#}
                    {#OTS: 1500#}
                    {#Цена: 1500000#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {

            $('#street').kladr({
                token: '541ee4ac7c52392c7d8b457e',
                key: '181d5e2c44994c335e5e81e9ae46e79a67b6b495',
                type: $.kladr.type.street,
                parentType: $.kladr.type.city,
                parentId: '7700000000000',
                select: function (obj) {
                    $('#street').val(obj.typeShort + ' ' + obj.name);
                },
                close: function () {
                    $.ajax({
                        url: '{{ path('get_coords') }}',
                        processData: false,
                        method: 'POST',
                        data: 'street=' + $('#street').val(),
                        success: function (msg) {
                            coords = msg.data;
                            map.setCenter(coords);
                        }
                    });
                }
            });

            $( "#grp" ).slider({
                range: true,
                min: 0,
                max: 300,
                values: [ 0, 300 ],
                slide: function( event, ui ) {
                    $( "#grp-amount" ).html( "" + ui.values[ 0 ]/100 + " - " + ui.values[ 1 ]/100 );
                    $( "#grp-min" ).val(ui.values[ 0 ]/100);
                    $( "#grp-max" ).val(ui.values[ 1 ]/100);
                }
            });
            $( "#grp-amount" ).html( "" + $( "#grp" ).slider( "values", 0 )/100 +
            " - " + $( "#grp" ).slider( "values", 1 )/100 );

            $( "#ots" ).slider({
                range: true,
                min: 0,
                max: 500,
                values: [ 0, 500 ],
                slide: function( event, ui ) {
                    $( "#ots-amount" ).html( "" + ui.values[ 0 ] + " - " + ui.values[ 1 ] );
                    $( "#ots-min" ).val(ui.values[ 0 ]);
                    $( "#ots-max" ).val(ui.values[ 1 ]);
                }
            });
            $( "#ots-amount" ).html( "" + $( "#ots" ).slider( "values", 0 ) +
            " - " + $( "#ots" ).slider( "values", 1 ) );

            $( "#price" ).slider({
                range: true,
                min: 0,
                max: 999,
                values: [ 0, 999 ],
                slide: function( event, ui ) {
                    $( "#price-amount" ).html( "" + ui.values[ 0 ] + " т.р. - " + ui.values[ 1 ] + ' т.р.' );
                    $( "#price-min" ).val(ui.values[ 0 ]);
                    $( "#price-max" ).val(ui.values[ 1 ]);
                }
            });
            $( "#price-amount" ).html( "" + $( "#price" ).slider( "values", 0 ) +
            " т.р. - " + $( "#price" ).slider( "values", 1 ) + ' т.р.' );

            $('#package').click(function(){
               if ($(this).hasClass('act')){
                   $('.check').addClass('disabled');
                   $(this).removeClass('disabled');
               }else{
                   $('.check').removeClass('disabled');
                   $(this).removeClass('disabled');
                }

            });

            $('#search-btn').click(function(){
                $('#search-form').submit();
            });

            $('.open').click(function(){
                var item = $(this);
                $.ajax({
                    url: Routing.generate('get_more_info'),
                    data: 'itemId='+item.attr('data-id'),
                    method: 'POST',
                    success: function(msg){
                        $('.search_get_more>div>.modal-content').html(msg);
                    },
                    error: function(){

                    }
                });
            });
        });
    </script>
{% endblock %}