{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12" style="  margin-top: -20px;">
            <div style="float: left">
                <h2 class="green">Поиск щитов по параметрам</h2>
            </div>
        </div>
    </div>
    <br />
    <form id="search-form" method="GET">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <select name="city">
                    <option value="null" disabled>Город</option>
                    <option value="Москва" {{ params.city == 'Москва' ? 'selected="selected"' }}>Москва</option>
                </select>
            </div>
            <div class="col-sm-4">
                <select name="area">
                    <option value="" disabled selected>Округ</option>
                    <option value="" selected>Все округа</option>
                    <option value="ЦАО" {{ params.area == 'ЦАО' ? 'selected="selected"' }}>ЦАО</option>
                    <option value="СВАО" {{ params.area == 'СВАО' ? 'selected="selected"' }}>СВАО</option>
                    <option value="ВАО" {{ params.area == 'ВАО' ? 'selected="selected"' }}>ВАО</option>
                    <option value="ЮВАО" {{ params.area == 'ЮВАО' ? 'selected="selected"' }}>ЮВАО</option>
                    <option value="ЮАО" {{ params.area == 'ЮАО' ? 'selected="selected"' }}>ЮАО</option>
                    <option value="ЮЗАО" {{ params.area == 'ЮЗАО' ? 'selected="selected"' }}>ЮЗАО</option>
                    <option value="ЗАО" {{ params.area == 'ЗАО' ? 'selected="selected"' }}>ЗАО</option>
                    <option value="CЗАО" {{ params.area == 'CЗАО' ? 'selected="selected"' }}>CЗАО</option>
                    <option value="CАО" {{ params.area == 'CАО' ? 'selected="selected"' }}>CАО</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <h2  class="green">Период</h2>
                <div>
                    с&nbsp;&nbsp;
                    <select class="mini" name="dateStart">
                        <option value="0" selected="selected">Нач</option>
                        <option value="1"  {{ params.dateStart == '1' ? 'selected="selected"' : ''}}>Янв</option>
                        <option value="2"  {{ params.dateStart == '2' ? 'selected="selected"' : ''}}>Фев</option>
                        <option value="3"  {{ params.dateStart == '3' ? 'selected="selected"' : ''}}>Мар</option>
                        <option value="4"  {{ params.dateStart == '4' ? 'selected="selected"' : ''}}>Апр</option>
                        <option value="5"  {{ params.dateStart == '5' ? 'selected="selected"' : ''}}>Май</option>
                        <option value="6"  {{ params.dateStart == '6' ? 'selected="selected"' : ''}}>Июн</option>
                        <option value="7"  {{ params.dateStart == '7' ? 'selected="selected"' : ''}}>Июл</option>
                        <option value="8"  {{ params.dateStart == '8' ? 'selected="selected"' : ''}}>Авг</option>
                        <option value="9"  {{ params.dateStart == '9' ? 'selected="selected"' : ''}}>Сен</option>
                        <option value="10" {{ params.dateStart == '10' ? 'selected="selected"' : ''}}>Окт</option>
                        <option value="11" {{ params.dateStart == '11' ? 'selected="selected"' : ''}}>Ноя</option>
                        <option value="12" {{ params.dateStart == '12' ? 'selected="selected"' : ''}}>Дек</option>
                    </select>
                    &nbsp;&nbsp;по&nbsp;&nbsp;
                    <select class="mini" name="dateEnd">
                        <option value="0" selected="selected">Кон</option>
                        <option value="1"  {{ params.dateEnd == '1' ? 'selected="selected"' : ''}}>Янв</option>
                        <option value="2"  {{ params.dateEnd == '2' ? 'selected="selected"' : ''}}>Фев</option>
                        <option value="3"  {{ params.dateEnd == '3' ? 'selected="selected"' : ''}}>Мар</option>
                        <option value="4"  {{ params.dateEnd == '4' ? 'selected="selected"' : ''}}>Апр</option>
                        <option value="5"  {{ params.dateEnd == '5' ? 'selected="selected"' : ''}}>Май</option>
                        <option value="6"  {{ params.dateEnd == '6' ? 'selected="selected"' : ''}}>Июн</option>
                        <option value="7"  {{ params.dateEnd == '7' ? 'selected="selected"' : ''}}>Июл</option>
                        <option value="8"  {{ params.dateEnd == '8' ? 'selected="selected"' : ''}}>Авг</option>
                        <option value="9"  {{ params.dateEnd == '9' ? 'selected="selected"' : ''}}>Сен</option>
                        <option value="10" {{ params.dateEnd == '10' ? 'selected="selected"' : ''}}>Окт</option>
                        <option value="11" {{ params.dateEnd == '11' ? 'selected="selected"' : ''}}>Ноя</option>
                        <option value="12" {{ params.dateEnd == '12' ? 'selected="selected"' : ''}}>Дек</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <h2 class="green">Форматы конструкций</h2>
                <div class="check-group">
                    Формат 3х6
                    <div class="check {{ params.formatM == 1 or params.formatM == null   ? 'active' : '' }}"></div>
                    <input type="hidden" name="formatM" value="{{ params.formatM == 1 or params.formatM == null ? 1 : 0 }}">
                </div>
                <div class="check-group">
                    Малые форматы
                    <div class="check {{ params.formatS == 1 or params.formatS == null ? 'active' : '' }}"></div>
                    <input type="hidden" name="formatS" value="{{ params.formatS == 1 or params.formatS == null ? 1 : 0 }}">
                </div>
                <div class="check-group">
                    Большие форматы
                    <div class="check {{ params.formatL == 1 or params.formatL == null ? 'active' : '' }}"></div>
                    <input type="hidden" name="formatL" value="{{ params.formatL == 1 or params.formatL == null ? 1 : 0 }}">
                </div>
                <div class="check-group">
                    Ситиборды
                    <div class="check {{ params.formatSB == 1 or params.formatSB == null ? 'active' : '' }}"></div>
                    <input type="hidden" name="formatSB" value="{{ params.formatSB == 1 or params.formatSB == null ? 1 : 0 }}">
                </div>
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <h2 class="green">Дополнительно</h2>
                <div class="check-group">
                    Только щиты с подстветкой
                    <div class="check {{ params.light == 1 ? 'active' : '' }}"></div>
                    <input type="hidden" name="light" value="{{ params.light == 1 ? 1 : 0 }}">
                </div>
                <br />
                <br />
                <input type="text" placeholder="GID конструкции" name="gid" value="{{ params.gid }}">
            </div>
            <div class="col-sm-4">
                <div class="check-group">
                    Сторона А
                    <div class="check  {{ params.sideA == 1 or params.sideA == null ? 'active' : '' }} "></div>
                    <input type="hidden" name="sideA" value="{{ params.sideA == 1 or params.sideA == null ? 1 : 0 }}">
                </div>
                <div class="check-group" id="packets">
                    Сторона B
                    <div class="check  {{ params.sideB == 1 or params.sideB == null ? 'active' : '' }}"></div>
                    <input type="hidden" name="sideB" value="{{ params.sideB == 1 or params.sideB == null ? 1 : 0 }}">
                </div>
                <br />
                <br />
                <div class="slider-group">
                    <span class="caption" style="float: left; margin-top: 8px;  width: 150px;">GRP</span>
                    <span id="grp-amount" class="val"></span>
                    <span class="slider" id="grp" style="float: right"></span>
                    <input type="hidden" name="grp-min" id="grp-min" value="{{ params.grpMin != null ? params.grpMin : 0 }}">
                    <input type="hidden" name="grp-max" id="grp-max" value="{{ params.grpMax != null ? params.grpMax : 3 }}">
                </div>
                <br />
                <div class="slider-group">
                    <span class="caption" style="float: left; margin-top: 8px;  width: 150px;">OTS</span>
                    <span id="ots-amount" class="val"></span>
                    <span class="slider"  id="ots" style="float: right"></span>
                    <input type="hidden" name="ots-min" id="ots-min" value="{{ params.otsMin != null ? params.otsMin : 0 }}">
                    <input type="hidden" name="ots-max" id="ots-max" value="{{ params.otsMax != null ? params.otsMax : 500 }}">
                </div>
                <br />
                <div class="slider-group">
                    <span class="caption" style="float: left; margin-top: 8px;  width: 150px;">Стоимость</span>
                    <span id="price-amount" class="val"></span>
                    <span class="slider" id="price" style="float: right"></span>
                    <input type="hidden" name="price-min" id="price-min" value="{{ params.priceMin != null ? params.priceMin : 0 }}">
                    <input type="hidden" name="price-max" id="price-max" value="{{ params.priceMax != null ? params.priceMax : 999 }}">
                </div>
                <br/>
                <div style="text-align: right">
                    <span class="btn" id="search-btn">Найти</span>
                </div>
            </div>
        </div>
    </form>
    <br />
    <br />
    <table class="table">
        <tr>
            <th></th>
            <th>№</th>
            <th>gid</th>
            <th>Округ</th>
            <th>Адрес</th>
            <th>Сторона</th>
            <th>Формат</th>
            <th>GRP</th>
            <th>OTS</th>
            <th>Стоимость без налогов</th>
            <th>Налог</th>
            <th>Стоимость с налогом</th>
        </tr>
        {% set j = 0 %}
        {% for k,l in banners %}
            {% set j = j+1 %}
            <tr class="s-{{ k }}">
                <td>
                    {% if l.hot == 1 %}
                        <img src="{{ asset('bundles/app/images/fire.gif') }}"  style="height: 24px"/>
                    {% endif %}
                </td>
                <td>{{ l.id }}</td>
                <td>{{ l.gid }}</td>
                <td>{{ l.area }}</td>
                <td><a  class="green open" href="#" data-id="{{ l.id }}" data-toggle="modal" data-target=".search_get_more">{{ l.adrs }}</a></td>
                <td>{{ l.side }}</td>
                <td>{{ l.format }}</td>
                <td>{{ l.grp }}</td>
                <td>{{ l.ots|number_format(1, '.', ',') }}</td>
                <td>{{ l.price |number_format(1, '.', '') }}</td>
                <td>{{ l.taxType }}</td>
                <td>{{ l.price2 |number_format(1, '.', '') }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">
                    <div class="" style="text-align: center"><h2 class="green">По Вашему запросу ничего не найдено</h2></div>
                </td>
            </tr>
        {% endfor %}
    </table>
    <div class="navigation">
        {{ knp_pagination_render(banners) }}
    </div>
    <br />
    <br />
    <div class="row" id="basket">
        <div class="col-sm-12">
            <div id="basket-table">
                {{ include('AppBundle:Basket:table.html.twig') }}
            </div>
            <br />
            <br />
        </div>
    </div>
    <br />
    <br />
    {#<div class="row">#}
        {#<div class="col-sm-2">#}
            {#<div class="box package">#}
                {#<div class="package-img">#}
                    {#<img src="">#}
                {#</div>#}
                {#<div class="package-setting">#}
                    {#Количество конструкций: 85#}
                    {#GRP: 1500#}
                    {#OTS: 1500#}
                    {#Цена: 1500000#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
            function orderRefresh(){
                $.ajax({
                    url: Routing.generate('order_price'),
                    method: 'GET',
                    success: function(msg){
                        $('#order-btn').html('Заказ на сумму '+msg+' р.');
                        $('#order-btn').css('display','block');
                    }
                });
            }

            $('#street').kladr({
                token: '541ee4ac7c52392c7d8b457e',
                key: '181d5e2c44994c335e5e81e9ae46e79a67b6b495',
                type: $.kladr.type.street,
                parentType: $.kladr.type.city,
                parentId: '7700000000000',
                select: function (obj) {
                    $('#street').val(obj.typeShort + ' ' + obj.name);
                },
                close: function () {
                    $.ajax({
                        url: '{{ path('get_coords') }}',
                        processData: false,
                        method: 'POST',
                        data: 'street=' + $('#street').val(),
                        success: function (msg) {
                            coords = msg.data;
                            map.setCenter(coords);
                        }
                    });
                }
            });

            $( "#grp" ).slider({
                range: true,
                min: 0,
                max: 300,
                values: [ {{ params.grpMin != null ? params.grpMin*100 : 0 }}, {{ params.grpMax != null ? params.grpMax*100 : 300 }} ],
                slide: function( event, ui ) {
                    $( "#grp-amount" ).html( "" + ui.values[ 0 ]/100 + " - " + ui.values[ 1 ]/100 );
                    $( "#grp-min" ).val(ui.values[ 0 ]/100);
                    $( "#grp-max" ).val(ui.values[ 1 ]/100);
                }
            });
            $( "#grp-amount" ).html( "" + $( "#grp" ).slider( "values", 0 )/100 +
            " - " + $( "#grp" ).slider( "values", 1 )/100 );

            $( "#ots" ).slider({
                range: true,
                min: 0,
                max: 500,
                values: [ {{ params.otsMin != null ? params.otsMin : 0 }}, {{ params.otsMax != null ? params.otsMax : 500 }} ],
                slide: function( event, ui ) {
                    $( "#ots-amount" ).html( "" + ui.values[ 0 ] + " - " + ui.values[ 1 ] );
                    $( "#ots-min" ).val(ui.values[ 0 ]);
                    $( "#ots-max" ).val(ui.values[ 1 ]);
                }
            });
            $( "#ots-amount" ).html( "" + $( "#ots" ).slider( "values", 0 ) +
            " - " + $( "#ots" ).slider( "values", 1 ) );

            $( "#price" ).slider({
                range: true,
                min: 0,
                max: 999,
                values: [ {{ params.priceMin != null ? params.priceMin : 0 }}, {{ params.priceMax != null ? params.priceMax : 999 }} ],
                slide: function( event, ui ) {
                    $( "#price-amount" ).html( "" + ui.values[ 0 ] + " т.р. - " + ui.values[ 1 ] + ' т.р.' );
                    $( "#price-min" ).val(ui.values[ 0 ]);
                    $( "#price-max" ).val(ui.values[ 1 ]);
                }
            });
            $( "#price-amount" ).html( "" + $( "#price" ).slider( "values", 0 ) +
            " т.р. - " + $( "#price" ).slider( "values", 1 ) + ' т.р.' );

            $('#package').click(function(){
               if ($(this).hasClass('act')){
                   $('.check').addClass('disabled');
                   $(this).removeClass('disabled');
               }else{
                   $('.check').removeClass('disabled');
                   $(this).removeClass('disabled');
                }

            });

            $('#search-btn').click(function(){
                $('#search-form').submit();
            });

            $('.open').click(function(){
                var item = $(this);
                $.ajax({
                    url: Routing.generate('get_more_info'),
                    data: 'itemId='+item.attr('data-id'),
                    method: 'POST',
                    success: function(msg){
                        $('.search_get_more>div>.modal-content').html(msg);
                    },
                    error: function(){

                    }
                });
            });

            $('.modal-content').on('click','input.addBasket', function(){
                var item = $(this)
                $.ajax({
                    url: Routing.generate('basket_add', {'itemId': $(this).attr('data-id'), 'month': $(this).attr('data-month')}),
                    method: 'POST',
                    success: function(msg){
                        $('#basket-table').html(msg);
                        $('.thrumb').notify("позиция добавлена в медиаплан",{ className: 'success', autoHideDelay: 1200, position: "bottom",  showDuration: 0,  hideDuration: 0  });
                        orderRefresh();
                    }
                });
            });

            $('#basket-table').on('click','.removeBasket', function(){
                var item = $(this)
                $.ajax({
                    url: Routing.generate('basket_remove', {'itemId': $(this).attr('data-id') }),
                    method: 'POST',
                    success: function(msg){
                        var item2 = item.parent().parent().next();
                        item2 = item2.attr('class');
                        $('#basket-table').html(msg);
                        console.log(item2);
                        item2 = $('.'+item2);
                        console.log(item2);
                        item2.notify("позиция удалена",{ className: 'success', autoHideDelay: 1200, position: "bottom right",  showDuration: 0,  hideDuration: 0  });
                        orderRefresh();
                    }
                });
            });

        });
    </script>
{% endblock %}