{% extends "AdminBundle::layout.html.twig" %}

{% block breadcrumb %}
    <a href="{{ path('company_list') }}"><span class="btn btn-primary right-btn">В список</span></a>
    <ul class="breadcrumb well">
        <li><a href="{{ path('company_list') }}">Список компаний</a></li>
        <li>Изменение<span class="divider"></span></li>
    </ul>
{% endblock %}

{% block content %}
    {#<div class="well">#}
    {#<iframe src="{{ path('admin_file_list') }}" class="frame"></iframe>#}
    {#</div>#}
    <div class="well">
        <form method="POST" enctype="multipart/form-data">
            {{ form_widget(form) }}
        </form>
    </div>
    <h3>Модуль скидки</h3>
    <div class="well">
        <div class="form-group row">
            <div class="col-sm-2">Добавление скидки</div>
            <div class="col-sm-3">
                <select class="form-control">
                    <option>Город</option>
                </select>
            </div>
            <div class="col-sm-2">
                <select class="form-control">
                    <option>месяц</option>
                </select>
            </div>
            <div class="col-sm-2">
                <div class="input-group">
                    <input type="text" class="form-control" >
                    <span class="input-group-addon">%</span>
                </div>

            </div>
            <div class="col-sm-2">
                <button class="btn btn-primary">Добавить</button>
            </div>
        </div>
        <table class="table">
            <tr>
                <th>Город</th>
                <th>Месяц</th>
                <th>Скидка</th>
            </tr>
            {% for s in sales %}
                <tr>
                    <td>{{ s.city }}</td>
                    <td>{{ s.month | date ('F Y') }}</td>
                    <td>{{ s.percent }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/admin/ckeditor/ckeditor.js') }}"></script>
    <script src="{{ asset('bundles/admin/ckeditor/styles.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {#<link href="{{ asset('bundles/app/ckeditor/contents.css') }}" rel="stylesheet">#}
    <style>
        .frame{
            width: 100%;
        }
    </style>
{% endblock %}