{% set fullPrice2 = 0 %}
{% set fullPrice = 0 %}
<table class="table">
    <tr>
        <th></th>
        <th>№</th>
        <th>Город</th>
        <th>Округ</th>
        <th>Адрес</th>
        <th>Гид</th>
        <th>Период</th>
        <th>Сторона</th>
        <th>Формат</th>
        <th>Тип</th>
        <th>Свет</th>
        <th>GRP</th>
        <th>OTS</th>
        <th>Стоимость
            без учёта
            налогов (р.)</th>
        <th>Налог</th>
        <th>Стоимость
            с учётом
            налогов (р.)</th>
        <th>
            Стоимость
            монтажа
            с учётом
            налогов (р.)
        </th>
        <th>Фото</th>
        <th>Карта</th>
        <th>Статус</th>
        <th></th>
    </tr>
    {% if lists %}
        {% set j = 0 %}
        {% for k,l in lists %}
        {% set j = j+1 %}
        <tr class="s-{{ k }}">
            <td>
                {% if l.hot == 1 %}
                    <img src="{{ asset('bundles/app/images/fire.gif') }}"  style="height: 24px"/>
                {% endif %}
            </td>
            <td>{{ j }}</td>
            <td>{{ l.city }}</td>
            <td>{{ l.area }}</td>
            <td>{{ l.adrs }}</td>
            <td>{{ l.gid }}</td>
            <td>{{ l.monthStr }}</td>
            <td>{{ l.side }}</td>
            <td>{{ l.format }}</td>
            <td>{{ l.type }}</td>
            <td>{{ l.light == 1 ? 'да' : 'нет' }}</td>
            {% if l.grp == 0 %}
                    <td>нд</td>
            {% else %}
                    <td>{{ l.grp|number_format(2, '.', ',') | replace("/\.?0*$/",'') }}</td>
            {% endif %}
            {% if l.ots == 0 %}
                <td>нд</td>
            {% else %}
                <td>{{ l.ots|number_format(2, '.', ',') | replace("/\.?0*$/",'') }}</td>
            {% endif %}
            <td>{{ (l.price |number_format(1, '.', '')) | replace("/\.?0*$/",'') }}</td>
            <td>{{ l.taxType }}</td>
            <td>{{ l.price2 |number_format(1, '.', '') | replace("/\.?0*$/",'') }}</td>
            {% set fullPrice2 = fullPrice2 + l.price2 %}
            {% set fullPrice = fullPrice + l.price %}
            <td>{{ ((l.priceDeploy ? l.priceDeploy : 0)|number_format(1, '.', ''))  | replace("/\.?0*$/",'') }}</td>
            <td style="text-align: center">
                <a href="{{ l.img }}" class="fancybox" data-fancybox-group="gallery">
                    <img src="{{ asset('bundles/app/images/img-icon.png') }}" class="icon" title="Показать фотографию">
                </a>
            </td>
            <td style="text-align: center">
                <a href="{{ path('map') }}?bannerId={{ l.id }}" target="_top">
                    <img src="{{ asset('bundles/app/images/adrs-icon.png') }}" class="icon" title="Показать щит на карте">
                </a>
            </td>
            <td>Свободно</td>
            <td style="text-align: center">
                {#<a href="{{ path('basket_remove', { 'itemId' : k } ) }}">#}
                <img src="{{ asset('bundles/app/images/del-icon.png') }}" class="icon removeBasket" data-id="{{ k }}" title="Удалить позицию из медиаплана">
                {#</a>#}
            </td>
        </tr>
    {% endfor %}
    <tr class="bottom-line">
        <td colspan="11" style="background: #FFF; border: 0"></td>
        <td style="background: #FFF; border: 0" colspan="2">
            <b class="green">ИТОГО:</b>
        </td>
        <td style="background: none;">
            <b>{{ fullPrice | number_format(1, '.', '') }}&nbsp;р.</b>
        </td>
        <td style="background: none;"></td>
        <td style="background: none;">
            <b>{{ fullPrice2 | number_format(1, '.', '') }}&nbsp;р.</b>
        </td>
        <td style="background: none; border: 0" colspan="2"></td>
        <td colspan="3" style="text-align: right; color: #CC0000; background: none; border: 0;">
            <a href="{{ path('basket_clear') }}" style="color: #CC0000">Удалить все</a>
        </td>
    </tr>
    {% endif %}
</table>

{% if lists %}
<div style="color: #555555; font-size: 13px" class="table-info">
    <b>ПОКАЗАТЕЛИ ЭФФЕКТИВНОСТИ</b>
    <div style="font-size: 7px;">&nbsp;</div>
    <div>
        <label>Средняя стоимость размещения за поверхность:</label>
        {{ price2 |number_format(0, '.', '') }} р.
    </div>
    <div>
        <label>Процентное соотношение сторон A/B в программе:</label>
        {{ side }}
    </div>
    <div>
        <label>Средний показатель GRP за программу:</label>
        {{ grp }}
    </div>
    <div>
        <label>Средний показатель OTS за программу:</label>
        {{ ots|number_format(1, '.', '') }}
    </div>
    <div>
        <label>CРТ за программу:</label>
        {% if ( fullPrice != 0 and otsSum != 0) %}
            {{ ( fullPrice / ( otsSum * 30 ) )|number_format(2, '.', '') }}
        {% else %}
            0
        {% endif %}
    </div>
    <div>
        <label>Количество поверхностей:</label>
        {{ count }}
    </div>
</div>

<br />
<br />
<div style="text-align: right">
    <div style="margin-top: -125px; margin-bottom: 100px">
                        <span class="btn-pink" style="font-size: 16px" data-toggle="modal" data-target=".bs-example-modal-sm">
                                ПОЛУЧИТЬ МЕДИА ПЛАН
                        </span>
    </div>
</div>
{% endif %}