<table class="table">
    <tr>
        <th>№</th>
        <th>Город</th>
        <th>Округ</th>
        <th>Адрес</th>
        <th>Гид</th>
        <th>Период</th>
        <th>Сторона</th>
        <th>Формат</th>
        <th>Тип</th>
        <th>Свет</th>
        <th>GRP</th>
        <th>OTS</th>
        <th>Стоимость</th>
        <th>Налог</th>
        <th>Фото</th>
        <th>Карта</th>
        <th>Статус</th>
        <th></th>
    </tr>
    {% for k,l in lists %}
        <tr>
            <td>{{ k }}</td>
            <td>Москва</td>
            <td>{{ l.area }}</td>
            <td>{{ l.adrs }}</td>
            <td>{{ l.id }}</td>
            <td>{{ l.monthStr }}</td>
            <td>{{ l.side }}</td>
            <td>{{ l.format }}</td>
            <td>{{ l.type }}</td>
            <td>{{ l.light == 1 ? 'да' : 'нет' }}</td>
            <td>{{ l.grp }}</td>
            <td>{{ l.ots }}</td>
            <td>{{ l.price }}</td>
            <td>{{ l.price/0.20 }}</td>
            <td style="text-align: center">
                <a href="{{ l.img }}" class="fancybox" data-fancybox-group="gallery">
                    <img src="{{ asset('bundles/app/images/img-icon.png') }}" class="icon">
                </a>
            </td>
            <td style="text-align: center"><img src="{{ asset('bundles/app/images/adrs-icon.png') }}" class="icon"></td>
            <td>Свободно</td>
            <td style="text-align: center">
                <a href="{{ path('basket_remove', { 'itemId' : k } ) }}">
                    <img src="{{ asset('bundles/app/images/del-icon.png') }}" class="icon" title="Удалить элемент">
                </a>
            </td>
        </tr>
    {% endfor %}
    <tr class="bottom-line">
        <td colspan="10" style="background: #FFF; border: 0"></td>
        <td style="background: #FFF; border: 0" colspan="2">
            <b class="green">ИТОГО:</b>
        </td>
        <td style="background: none;">
            <b>{{ fullPrice }}&nbsp;р.</b>
        </td>
        <td style="background: none;">
            <b>{{ fullPrice }}&nbsp;р.</b>
        </td>
        <td style="background: none;"></td>
        <td colspan="3" style="text-align: right; color: #CC0000; background: none; border: 0;">
            <a href="{{ path('basket_clear') }}" style="color: #CC0000">Обнулить заказ</a>
        </td>
    </tr>
</table>

<div style="color: #555555; font-size: 13px" class="table-info">
    <b>ПОКАЗАТЕЛИ ЭФФЕКТИВНОСТИ</b>
    <div style="font-size: 7px;">&nbsp;</div>
    <div>
        <label>Средняя стоимость размещения за поверхность:</label>
        {{ price |number_format(0, '.', ',') }} р.
    </div>
    <div>
        <label>Процентное соотношение сторон A/B в программе:</label>
        {{ side }}
    </div>
    <div>
        <label>Средний показатель GRP за программу:</label>
        {{ grp }}
    </div>
    <div>
        <label>Средний показатель OTS за программу:</label>
        {{ ots }}
    </div>
    <div>
        <label>CРТ за программу:</label>
        {{ ( ots / price )|number_format(3, '.', ',') }}
    </div>
    <div>
        <label>Количество поверхностей:</label>
        {{ count }}
    </div>
</div>